{
  "extends": [
    "@easypost/eslint-config-easypost-base",
    "prettier",
    "prettier/flowtype",
    "prettier/standard",
    "prettier/unicorn"
  ],
  "settings": {
    "import/extensions": ["", ".js", ".ejs", ".json", ".yml", ".jsx"],
    "import/ignore": [".ejs$", ".yml$", ".jsx", "node_modules"]
  },
  "rules": {
    "no-console": "off",
    "import/no-unresolved": "off"
  },
  "globals": {
    "window": true,
    "$": true
  }
}
