__pycache__
.DS_Store
.env
.idea
.vscode
*.egg-info
/vendor
bin
node_modules
target
venv
/.flake8
/pyproject.toml
/.prettierrc.yml
/.editorconfig
/phpcs.xml
/easypost_java_style.xml
/checkstyle.jar
/easycop.yml
