__pycache__
.DS_Store
.env
.idea
.vscode
*.egg-info
/vendor
bin
node_modules
target
venv
/.editorconfig
/.eslintrc
/.flake8
/.golangci.yml
/.prettierignore
/.prettierrc.yml
/.rubocop.yml
/checkstyle.jar
/easycop.yml
/easypost_java_style.xml
/layout_rules.xml
/phpcs.xml
/pyproject.toml
/style_suppressions.xml
/.dummy
/.eslintignore
