interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "service": "Priority",
      "carrier": "USPS", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:42:00Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707771", "updated_at": "2024-01-19T21:42:01Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": {"id":
        "cstinfo_b8df8ab18426437884d0bdbcc8cd7a38", "object": "CustomsInfo", "created_at":
        "2024-01-19T21:42:00Z", "updated_at": "2024-01-19T21:42:00Z", "contents_explanation":
        "", "contents_type": "merchandise", "customs_certify": true, "customs_signer":
        "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option": "return",
        "restriction_comments": null, "restriction_type": "none", "mode": "test",
        "declaration": null, "customs_items": [{"id": "cstitem_70b1522825c645659169b66fed6c5ff8",
        "object": "CustomsItem", "created_at": "2024-01-19T21:42:00Z", "updated_at":
        "2024-01-19T21:42:00Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}, "from_address": {"id": "adr_939e948eb71311eeb35fac1f6bc539aa",
        "object": "Address", "created_at": "2024-01-19T21:42:00+00:00", "updated_at":
        "2024-01-19T21:42:00+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": null, "parcel": {"id": "prcl_3ae2306725f2419cb812702fab0e8879",
        "object": "Parcel", "created_at": "2024-01-19T21:42:00Z", "updated_at": "2024-01-19T21:42:00Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_7123fce93f754da197413633321ea20f", "created_at": "2024-01-19T21:42:01Z",
        "updated_at": "2024-01-19T21:42:01Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T21:42:01Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e8d34f289678574f3fa795bbf64a495e47.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_e2a94cdc60d2464aa89a69d29cf12f7a", "object":
        "Rate", "created_at": "2024-01-19T21:42:00Z", "updated_at": "2024-01-19T21:42:00Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "46.85",
        "currency": "USD", "retail_rate": "54.20", "retail_currency": "USD", "list_rate":
        "46.85", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_cf8e56cf20974b3da7c68ef7da9c1718", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_e68bd3f50b7d499a99ce5936e5376154",
        "object": "Rate", "created_at": "2024-01-19T21:42:00Z", "updated_at": "2024-01-19T21:42:00Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery[...]
- request:
    body: '{"scan_form": {"shipment": [{"id": "shp_cf8e56cf20974b3da7c68ef7da9c1718"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id": "sf_7da5cfcbb18448a1b8557d6f46dcfd63", "object": "ScanForm",
        "created_at": "2024-01-19T21:42:01Z", "updated_at": "2024-01-19T21:42:02Z",
        "tracking_codes": ["9405500207552010707771"], "address": {"id": "adr_939e948eb71311eeb35fac1f6bc539aa",
        "object": "Address", "created_at": "2024-01-19T21:42:00+00:00", "updated_at":
        "2024-01-19T21:42:00+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "status": "created", "message": null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240119/e88e3aaa0500a342a6ba20d2fe6c3cd189.pdf",
        "form_file_type": null, "batch_id": "batch_20ed0a5f5e4f4e5c8cf2b4f966ceb924",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaeca9e78b9f4a000d06f4
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms/sf_7da5cfcbb18448a1b8557d6f46dcfd63
  response:
    body:
      string: '{"id": "sf_7da5cfcbb18448a1b8557d6f46dcfd63", "object": "ScanForm",
        "created_at": "2024-01-19T21:42:01Z", "updated_at": "2024-01-19T21:42:02Z",
        "tracking_codes": ["9405500207552010707771"], "address": {"id": "adr_939e948eb71311eeb35fac1f6bc539aa",
        "object": "A[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms/sf_1de4ead0dce34c4387c7836727c39c33
  response:
    body:
      string: '{"id": "sf_1de4ead0dce34c4387c7836727c39c33", "object": "ScanForm",
        "created_at": "2024-01-19T22:05:48Z", "updated_at": "2024-01-19T22:05:48Z",
        "tracking_codes": ["9405500207552010712812"], "address": {"id": "adr_e5cd9cfdb71611eebe4cac1f6bc539ae",
        "object": "Address", "created_at": "2024-01-19T22:05:46+00:00", "updated_at":
        "2024-01-19T22:05:46+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "status": "created", "message": null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240119/e8c5d3ed3cc27e475da3b25c1da9d6fd3b.pdf",
        "form_file_type": null, "batch_id": "batch_1159df9904bb4176918e6bb190604a18",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f765aaf23ce798d1040010c9c3
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
