interactions:
- request:
    body: '{"address": {"street1": "417 Montgomery Street", "street2": "FL 5", "city":
      "San Francisco", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses/create_and_verify
  response:
    body:
      string: '{"address": {"id": "adr_3d733da6b71311ee835b3cecef1b359e", "object":
        "Address", "created_at": "2024-01-19T21:39:35+00:00", "updated_at": "2024-01-19T21:39:35+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [], "details": null},
        "delivery": {"success": true, "errors": [], "details": {"latitude": 37.79342,
        "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_3d733da6b71311ee835b3cecef1b359e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaec17e78b9ac2000ca6d6
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"address": {"street1": "417 Montgomery Street", "street2": "FL 5", "city":
      "San Francisco", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses/create_and_verify
  response:
    body:
      string: '{"address": {"id": "adr_355c107fb71611ee91e6ac1f6bc539aa", "object":
        "Address", "created_at": "2024-01-19T22:00:50+00:00", "updated_at": "2024-01-19T22:00:50+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [], "details": null},
        "delivery": {"success": true, "errors": [], "details": {"latitude": 37.79342,
        "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_355c107fb71611ee91e6ac1f6bc539aa
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f165aaf112e798c39d000fe0ad
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
