interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "description": "CA Location
      DHL eCommerce Solutions Account", "credentials": {"client_id": "123456", "client_secret":
      "123abc", "distribution_center": "USLAX1", "pickup_id": "123456"}, "test_credentials":
      {"client_id": "123456", "client_secret": "123abc", "distribution_center": "USLAX1",
      "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_65b36650ca424c4192f3042b7c5f5df6", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2024-01-19T21:40:38Z",
        "updated_at": "2024-01-19T21:40:38Z", "description": "CA Location DHL eCommerce
        Solutions Account", "reference": null, "billing_type": "carrier", "readable":
        "DHL eCommerce Solutions", "logo": null, "fields": {"credentials": {"client_id":
        {"visibility": "visible", "label": "DHL eCommerce Solutions client ID", "value":
        "123456"}, "client_secret": {"visibility": "password", "label": "DHL eCommerce
        Solutions client secret", "value": "********"}, "pickup_id": {"visibility":
        "visible", "label": "DHL eCommerce Solutions pickup ID", "value": "123456"},
        "distribution_center": {"visibility": "visible", "label": "DHL eCommerce Solutions
        distribution center", "value": "USLAX1"}}, "test_credentials": {"client_id":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions client ID",
        "value": "123456"}, "client_secret": {"visibility": "password", "label": "Test
        DHL eCommerce Solutions client secret", "value": "********"}, "pickup_id":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions pickup ID",
        "value": "123456"}, "distribution_center": {"visibility": "visible", "label":
        "Test DHL eCommerce Solutions distribution center", "value": "USLAX1"}}},
        "credentials": {"client_id": "123456", "client_secret": "********", "pickup_id":
        "123456", "distribution_center": "USLAX1"}, "test_credentials": {"client_id":
        "123456", "client_secret": "********", "pickup_id": "123456", "distribution_center":
        "USLAX1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f865aaec56e78b9b2a000ccd88
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_65b36650ca424c4192f3042b7c5f5df6
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f465aaec56e78b9b2b000ccdd2
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_e28dd57017e242f191118f3651292e76
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f265aaecece78ba363000d2bba
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_50973fe5d6924ee3925c875bbfd86183
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365ab07f2e799e5a1001d7841
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
