interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "service": "Priority",
      "carrier": "USPS", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:41:22Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707696", "updated_at": "2024-01-19T21:41:23Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": {"id":
        "cstinfo_b89f75f170ab401bbe6812b4edbbfe36", "object": "CustomsInfo", "created_at":
        "2024-01-19T21:41:22Z", "updated_at": "2024-01-19T21:41:22Z", "contents_explanation":
        "", "contents_type": "merchandise", "customs_certify": true, "customs_signer":
        "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option": "return",
        "restriction_comments": null, "restriction_type": "none", "mode": "test",
        "declaration": null, "customs_items": [{"id": "cstitem_d0d055b113cc47b888b7e9f0ca918255",
        "object": "CustomsItem", "created_at": "2024-01-19T21:41:22Z", "updated_at":
        "2024-01-19T21:41:22Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}, "from_address": {"id": "adr_7d329560b71311ee9d28ac1f6bc539ae",
        "object": "Address", "created_at": "2024-01-19T21:41:22+00:00", "updated_at":
        "2024-01-19T21:41:22+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": null, "parcel": {"id": "prcl_bfb0c09a7aa54834bab257068b7ebd3f",
        "object": "Parcel", "created_at": "2024-01-19T21:41:22Z", "updated_at": "2024-01-19T21:41:22Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_d9b6019a5efa476db3c0d442260603f0", "created_at": "2024-01-19T21:41:23Z",
        "updated_at": "2024-01-19T21:41:23Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T21:41:23Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e85326875e5da547fba455b82c084b7678.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_fa5e493de369479f987a5b2e1921b3a3", "object":
        "Rate", "created_at": "2024-01-19T21:41:22Z", "updated_at": "2024-01-19T21:41:22Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "46.85",
        "currency": "USD", "retail_rate": "54.20", "retail_currency": "USD", "list_rate":
        "46.85", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_0a37e8e18012447688bf4bc06e543aaf", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_9b39f009f5d64d6995f9cc4c1aef3d2f",
        "object": "Rate", "created_at": "2024-01-19T21:41:22Z", "updated_at": "2024-01-19T21:41:22Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery[...]
- request:
    body: '{"pickup": {"reference": "my-first-pickup", "min_datetime": "2024-01-22",
      "max_datetime": "2024-01-22", "shipment": {"id": "shp_0a37e8e18012447688bf4bc06e543aaf"},
      "address": {"name": "Dr. Steve Brule", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "phone": "8573875756",
      "email": "dr_steve_brule@gmail.com"}, "is_account_address": "false", "instructions":
      "Special pickup instructions"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_d5d09755c5144ed0b37d82bfb85e64a1", "object": "Pickup",
        "created_at": "2024-01-19T21:41:24Z", "updated_at": "2024-01-19T21:41:24Z",
        "mode": "test", "status": "unknown", "reference": "my-first-pickup", "min_datetime":
        "2024-01-22T00:00:00Z", "max_datetime": "2024-01-22T00:00:00Z", "is_account_address":
        false, "instructions": "Special pickup instructions", "messages": [], "confirmation":
        null, "address": {"id": "adr_7e05555db71311eeac0dac1f6bc539aa", "object":
        "Address", "created_at": "2024-01-19T21:41:24+00:00", "updated_at": "2024-01-19T21:41:24+00:00",
        "name": "Dr. Steve Brule", "company": null, "street1": "179 N Harbor Dr",
        "street2": null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
        "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com", "mode":
        "test", "carrier_facility": null, "residential": null, "federal_tax_id": null,
        "state_tax_id": null, "verifications": {}}, "carrier_accounts": [], "pickup_rates":
        [{"mode": "test", "service": "NextDay", "rate": "0.00", "currency": "USD",
        "created_at": "2024-01-19T21:41:24Z", "updated_at": "2024-01-19T21:41:24Z",
        "carrier": "USPS", "pickup_id": "pickup_d5d09755c5144ed0b37d82bfb85e64a1",
        "id": "pickuprate_0abf056bc3b7484eab8179368a2dbf02", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f465aaec84e78b9ee7000cf2bd
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_d5d09755c5144ed0b37d82bfb85e64a1/buy
  response:
    body:
      string: '{"id": "pickup_d5d09755c5144ed0b37d82bfb85e64a1", "object": "Pickup",
        "created_at": "2024-01-19T21:41:24Z", "updated_at": "2024-01-19T21:41:36Z",
        "mode": "test", "status": "sched[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_d5d09755c5144ed0b37d82bfb85e64a1/cancel
  response:
    body:
      string: '{"id": "pickup_d5d09755c5144ed0b37d82bfb85e64a1", "object": "Pickup",
        "created_at": "2024-01-19T21:41:24Z", "updated_at": "2024-01-19T21:41:47Z",
        "mode": "test", "status": "canceled", "reference": "my-first-pickup"[...]
[...]
