interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments?page_size=1
  response:
    body:
      string: '{"shipments": [{"created_at": "2024-01-19T21:42:00Z", "is_return":
        false, "messages": [], "mode": "test", "options": {"currency": "USD", "payment":
        {"type": "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown",
        "tracking_code": "9405500207552010707771", "updated_at": "2024-01-19T21:42:01Z",
        "batch_id": "batch_20ed0a5f5e4f4e5c8cf2b4f966ceb924", "batch_status": "postage_purchased",
        "batch_message": null, "customs_info": {"id": "cstinfo_b8df8ab18426437884d0bdbcc8cd7a38",
        "object": "CustomsInfo", "created_at": "2024-01-19T21:42:00Z", "updated_at":
        "2024-01-19T21:42:00Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_70b1522825c645659169b66fed6c5ff8", "object": "CustomsItem",
        "created_at": "2024-01-19T21:42:00Z", "updated_at": "2024-01-19T21:42:00Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_939e948eb71311eeb35fac1f6bc539aa", "object":
        "Address", "created_at": "2024-01-19T21:42:00+00:00", "updated_at": "2024-01-19T21:42:00+00:00",
        "name": "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_3ae2306725f2419cb812702fab0e8879", "object": "Parcel", "created_at":
        "2024-01-19T21:42:00Z", "updated_at": "2024-01-19T21:42:00Z", "length": 20.2,
        "width": 10.9, "height": 5.0, "predefined_package": null, "weight": 65.9,
        "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_7123fce93f754da197413633321ea20f",
        "created_at": "2024-01-19T21:42:01Z", "updated_at": "2024-01-19T21:42:01Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2024-01-19T21:42:01Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e8d34f289678574f3fa795bbf64a495e47.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_e2a94cdc60d2464aa89a69d29cf12f7a", "object":
        "Rate", "created_at": "2024-01-19T21:42:00Z", "updated_at": "2024-01-19T21:42:00Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "46.85",
        "currency": "USD", "retail_rate": "54.20", "retail_currency": "USD", "list_rate":
        "46.85", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_cf8e56cf20974b3da7c68ef7da9c1718", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_e68bd3f50b7d499a99ce5936e5376154",
        "object": "Rate", "created_at": "2024-01-19T21:42:00Z", "updated_at": "2024-01-19T21:42:00Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery[...]
[...]
