interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments?page_size=5
  response:
    body:
      string: '{"shipments": [{"created_at": "2024-01-19T22:06:45Z", "is_return":
        false, "messages": [], "mode": "test", "options": {"currency": "USD", "payment":
        {"type": "SENDER"}, "date_advance": 0}, "reference": null, "status": "delivered",
        "tracking_code": "9400100207552010713175", "updated_at": "2024-01-19T22:10:55Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_08d689afb71711ee855d3cecef1b359e", "object":
        "Address", "created_at": "2024-01-19T22:06:45+00:00", "updated_at": "2024-01-19T22:06:45+00:00",
        "name": "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": "order_44572b1e925342fababb94c67cca8292",
        "parcel": {"id": "prcl_92ca5d3034b14d80851d218f518b01a2", "object": "Parcel",
        "created_at": "2024-01-19T22:06:45Z", "updated_at": "2024-01-19T22:06:45Z",
        "length": null, "width": null, "height": null, "predefined_package": null,
        "weight": 10.2, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_faf332fd56294e918c9593682b15c7c5", "created_at": "2024-01-19T22:06:46Z",
        "updated_at": "2024-01-19T22:06:47Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T22:06:46Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e85397ca33ed6447558b2ef31c70893531.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_b3aee1cf42d9497bb591126539a7a052", "object":
        "Rate", "created_at": "2024-01-19T22:06:46Z", "updated_at": "2024-01-19T22:06:46Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_ad619fd0e6734b27b3e369d2cf9313f5", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_057d8b8d6516413aac61fdf93a545975",
        "object": "Rate", "created_at": "2024-01-19T22:06:46Z", "updated_at": "2024-01-19T22:06:46Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "4.81",
        "currency": "USD", "retail_rate": "6.35", "retail_currency": "USD", "list_rate":
        "4.81", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "del[...]
