interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users/children
  response:
    body:
      string: '{"children": [{"id": "user_584be78af2f141e988b6c60dda9dd8fd", "object":
        "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test
        User2", "phone_number": "8005550100", "verified": true, "created_at": "2023-12-11T17:13:38Z"},
        {"id": "user_437e724f37de412db6df8821968d8d3c", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User2", "phone_number":
        "8005550100", "verified": true, "created_at": "2023-12-11T17:13:43Z"}, {"id":
        "user_2553102e90de43dea0b9fa7f8c8d7e33", "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2",
        "name": "Child Account Name22", "phone_number": "8005550100", "verified":
        true, "created_at": "2024-01-04T19:56:21Z"}, {"id": "user_31754439d4524fbb8867d138de537e12",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Test User", "phone_number": "8005550100", "verified": true, "created_at":
        "2024-01-19T21:42:21Z"}], "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaecbfe78b9fab000d12ba
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
