interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers?page_size=1
  response:
    body:
      string: '{"end_shippers": [{"id": "es_4c9d0f5f99374536908eb4949f909e1e", "object":
        "EndShipper", "mode": "test", "created_at": "2022-10-05T19:50:55+00:00", "updated_at":
        "2022-10-05T19:50:55+00:00", "name": "JACK SPARROW", "company": null, "street1":
        "388 TOWNSEND ST APT 20", "street2": null, "city": "SAN FRANCISCO", "state":
        "CA", "zip": "94107-1670", "country": "US", "phone": "5555555555", "email":
        "TEST@EXAMPLE.COM"}], "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f465aaec5ee78b9b85000cd220
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers?page_size=1
  response:
    body:
      string: '{"end_shippers": [{"id": "es_4c9d0f5f99374536908eb4949f909e1e", "object":
        "EndShipper", "mode": "test", "created_at": "2022-10-05T19:50:55+00:00", "updated_at":
        "2022-10-05T19:50:55+00:00", "name": "JACK SPARROW", "company": null, "street1":
        "388 TOWNSEND ST APT 20", "street2": null, "city": "SAN FRANCISCO", "state":
        "CA", "zip": "94107-1670", "country": "US", "phone": "5555555555", "email":
        "TEST@EXAMPLE.COM"}], "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaf267e798d4fe0010e5ea
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
