interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/refunds?page_size=1
  response:
    body:
      string: '{"refunds": [{"id": "rfnd_bcb3fa1dfbfe4706bd524ee81fd249ab", "object":
        "Refund", "created_at": "2024-01-19T21:41:55Z", "updated_at": "2024-01-19T21:41:55Z",
        "tracking_code": "9405500207552010707757", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_31826ec4b32847c9943a27371cc43b28"}],
        "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaeca3e78b9f26000d031c
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/refunds?page_size=1
  response:
    body:
      string: '{"refunds": [{"id": "rfnd_a4a1a49fdcb34445b90ced53c8c38e0f", "object":
        "Refund", "created_at": "2024-01-19T21:47:44Z", "updated_at": "2024-01-19T21:47:44Z",
        "tracking_code": "9405500207552010708525", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_0a54634170f24d1cb2f7fd85b059af17"}],
        "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f627fdae65aaee00e78bafe800113e08
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/refunds?page_size=1
  response:
    body:
      string: '{"refunds": [{"id": "rfnd_c09e4177ad2145af988e4ebb667c3e61", "object":
        "Refund", "created_at": "2024-01-19T22:05:39Z", "updated_at": "2024-01-19T22:05:39Z",
        "tracking_code": "9405500207552010712751", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_82d6d2c4dc54475f909ac8080da5e80a"}],
        "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaf234e798d0e10010c3ae
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
