interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "description": "CA Location
      DHL eCommerce Solutions Account", "credentials": {"client_id": "123456", "client_secret":
      "123abc", "distribution_center": "USLAX1", "pickup_id": "123456"}, "test_credentials":
      {"client_id": "123456", "client_secret": "123abc", "distribution_center": "USLAX1",
      "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_4bced7adc4364f35b177e9de0b953c6f", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2024-01-19T21:40:39Z",
        "updated_at": "2024-01-19T21:40:39Z", "description": "CA Location DHL eCommerce
        Solutions Account", "reference": null, "billing_type": "carrier", "readable":
        "DHL eCommerce Solutions", "logo": null, "fields": {"credentials": {"client_id":
        {"visibility": "visible", "label": "DHL eCommerce Solutions client ID", "value":
        "123456"}, "client_secret": {"visibility": "password", "label": "DHL eCommerce
        Solutions client secret", "value": "********"}, "pickup_id": {"visibility":
        "visible", "label": "DHL eCommerce Solutions pickup ID", "value": "123456"},
        "distribution_center": {"visibility": "visible", "label": "DHL eCommerce Solutions
        distribution center", "value": "USLAX1"}}, "test_credentials": {"client_id":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions client ID",
        "value": "123456"}, "client_secret": {"visibility": "password", "label": "Test
        DHL eCommerce Solutions client secret", "value": "********"}, "pickup_id":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions pickup ID",
        "value": "123456"}, "distribution_center": {"visibility": "visible", "label":
        "Test DHL eCommerce Solutions distribution center", "value": "USLAX1"}}},
        "credentials": {"client_id": "123456", "client_secret": "********", "pickup_id":
        "123456", "distribution_center": "USLAX1"}, "test_credentials": {"client_id":
        "123456", "client_secret": "********", "pickup_id": "123456", "distribution_center":
        "USLAX1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaec57e78b9b43000cce1c
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts/ca_4bced7adc4364f35b177e9de0b953c6f
  response:
    body:
      string: '{"id": "ca_4bced7adc4364f35b177e9de0b953c6f", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2024-01-19T21:40:39Z",
        "updated_at": "2024-01-19T21:40:39Z", "description": "CA Location DHL eCommerce
        Solutions Account", "[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_c24003ee74054d96937851a992962d59
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f165aaf203e798cd020010a2b1
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_11034e7e23de4a3bbd54a42947bcdb85
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f465ab07f4e799e5a4001d78d5
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
