interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "service": "Priority",
      "carrier": "USPS", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:41:09Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707665", "updated_at": "2024-01-19T21:41:10Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": {"id":
        "cstinfo_bd845d80c8c9444dac16b5ce2113a776", "object": "CustomsInfo", "created_at":
        "2024-01-19T21:41:08Z", "updated_at": "2024-01-19T21:41:08Z", "contents_explanation":
        "", "contents_type": "merchandise", "customs_certify": true, "customs_signer":
        "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option": "return",
        "restriction_comments": null, "restriction_type": "none", "mode": "test",
        "declaration": null, "customs_items": [{"id": "cstitem_7aaf3780d09840fa8ad09f253a685586",
        "object": "CustomsItem", "created_at": "2024-01-19T21:41:08Z", "updated_at":
        "2024-01-19T21:41:08Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}, "from_address": {"id": "adr_74ecbfacb71311ee9945ac1f6bc53342",
        "object": "Address", "created_at": "2024-01-19T21:41:08+00:00", "updated_at":
        "2024-01-19T21:41:08+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": null, "parcel": {"id": "prcl_71cc37d017774e199fcde9638f9f5843",
        "object": "Parcel", "created_at": "2024-01-19T21:41:08Z", "updated_at": "2024-01-19T21:41:08Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_106f5dd663bb40abbc0a8b27b2f44671", "created_at": "2024-01-19T21:41:09Z",
        "updated_at": "2024-01-19T21:41:09Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T21:41:09Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e8c797f7d71e75450f9c846197ab442e73.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_674516cb2d734389a2c6fc96f20f9133", "object":
        "Rate", "created_at": "2024-01-19T21:41:09Z", "updated_at": "2024-01-19T21:41:09Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_0c127b7810a9497cae43f197a89077cc", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_cf64c3884eb0404ebacedfe06676b191",
        "object": "Rate", "created_at": "2024-01-19T21:41:09Z", "updated_at": "2024-01-19T21:41:09Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.79",
        "currency": "USD", "retail_rate": "12.45", "retail_currency": "USD", "list_rate":
        "8.92", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "de[...]
- request:
    body: '{"pickup": {"reference": "my-first-pickup", "min_datetime": "2024-01-22",
      "max_datetime": "2024-01-22", "shipment": {"id": "shp_0c127b7810a9497cae43f197a89077cc"},
      "address": {"name": "Dr. Steve Brule", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "phone": "8573875756",
      "email": "dr_steve_brule@gmail.com"}, "is_account_address": "false", "instructions":
      "Special pickup instructions"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_db5cb87e14e94e159a444af91d8fcdc2", "object": "Pickup",
        "created_at": "2024-01-19T21:41:10Z", "updated_at": "2024-01-19T21:41:10Z",
        "mode": "test", "status": "unknown", "reference": "my-first-pickup", "min_datetime":
        "2024-01-22T00:00:00Z", "max_datetime": "2024-01-22T00:00:00Z", "is_account_address":
        false, "instructions": "Special pickup instructions", "messages": [], "confirmation":
        null, "address": {"id": "adr_75f030e9b71311eea934ac1f6bc539aa", "object":
        "Address", "created_at": "2024-01-19T21:41:10+00:00", "updated_at": "2024-01-19T21:41:10+00:00",
        "name": "Dr. Steve Brule", "company": null, "street1": "179 N Harbor Dr",
        "street2": null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
        "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com", "mode":
        "test", "carrier_facility": null, "residential": null, "federal_tax_id": null,
        "state_tax_id": null, "verifications": {}}, "carrier_accounts": [], "pickup_rates":
        [{"mode": "test", "service": "NextDay", "rate": "0.00", "currency": "USD",
        "created_at": "2024-01-19T21:41:11Z", "updated_at": "2024-01-19T21:41:11Z",
        "carrier": "USPS", "pickup_id": "pickup_db5cb87e14e94e159a444af91d8fcdc2",
        "id": "pickuprate_b74039cec56944a8a21d28dce270a31b", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f165aaec76e78b9ee2000ceae3
      x-node:
      - bigweb31nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_db5cb87e14e94e159a444af91d8fcdc2/buy
  response:
    body:
      string: '{"id": "pickup_db5cb87e14e94e159a444af91d8fcdc2", "object": "Pickup",
        "created_at": "2024-01-19T21:41:10Z", "updated_at": "2024-01-19T21:41:22Z",
        "mode": "test", "status": "sched[...]
[...]
