interactions:
- request:
    body: '{"address": {"street1": "UNDELIVERABLE ST", "street2": null, "city": "SAN
      FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company": "EasyPost",
      "phone": "415-123-4567"}, "verify": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_3e55b5d3b71311ee83a83cecef1b359e", "object": "Address",
        "created_at": "2024-01-19T21:39:37+00:00", "updated_at": "2024-01-19T21:39:37+00:00",
        "name": null, "company": "EasyPost", "street1": "UNDELIVERABLE ST", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US",
        "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": false, "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field":
        "address", "message": "Address not found", "suggestion": null}, {"code": "E.HOUSE_NUMBER.MISSING",
        "field": "street1", "message": "House number is missing", "suggestion": null}],
        "details": null}, "delivery": {"success": false, "errors": [{"code": "E.ADDRESS.NOT_FOUND",
        "field": "address", "message": "Address not found", "suggestion": null}, {"code":
        "E.HOUSE_NUMBER.MISSING", "field": "street1", "message": "House number is
        missing", "suggestion": null}], "details": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_3e55b5d3b71311ee83a83cecef1b359e
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f265aaec19e78b9ac7000ca7bd
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
