interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "service": "Priority",
      "carrier": "USPS", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:41:06Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707641", "updated_at": "2024-01-19T21:41:06Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": {"id":
        "cstinfo_5782b613827e437ab42b6f4962c09882", "object": "CustomsInfo", "created_at":
        "2024-01-19T21:41:06Z", "updated_at": "2024-01-19T21:41:06Z", "contents_explanation":
        "", "contents_type": "merchandise", "customs_certify": true, "customs_signer":
        "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option": "return",
        "restriction_comments": null, "restriction_type": "none", "mode": "test",
        "declaration": null, "customs_items": [{"id": "cstitem_1f5c398706ab4634a2fdd80845b27e4e",
        "object": "CustomsItem", "created_at": "2024-01-19T21:41:06Z", "updated_at":
        "2024-01-19T21:41:06Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}, "from_address": {"id": "adr_733325a5b71311ee9988ac1f6bc539ae",
        "object": "Address", "created_at": "2024-01-19T21:41:06+00:00", "updated_at":
        "2024-01-19T21:41:06+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": null, "parcel": {"id": "prcl_14ccfcab4d99452990ef52b6d8fce417",
        "object": "Parcel", "created_at": "2024-01-19T21:41:06Z", "updated_at": "2024-01-19T21:41:06Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_e3342c54cb9144ef8712187de247a07e", "created_at": "2024-01-19T21:41:06Z",
        "updated_at": "2024-01-19T21:41:06Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T21:41:06Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e88209677107d349aa84fa0bb64e3ff3c7.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_7ec8b8fe34b94680a1a067ce65d7a7d1", "object":
        "Rate", "created_at": "2024-01-19T21:41:06Z", "updated_at": "2024-01-19T21:41:06Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "46.85",
        "currency": "USD", "retail_rate": "54.20", "retail_currency": "USD", "list_rate":
        "46.85", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_174dd0d75b6d41c8a8b29389bbd26e05", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_909a7bd211b446a5b1b04645fb4cf48e",
        "object": "Rate", "created_at": "2024-01-19T21:41:06Z", "updated_at": "2024-01-19T21:41:06Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery[...]
- request:
    body: '{"pickup": {"reference": "my-first-pickup", "min_datetime": "2024-01-22",
      "max_datetime": "2024-01-22", "shipment": {"id": "shp_174dd0d75b6d41c8a8b29389bbd26e05"},
      "address": {"name": "Dr. Steve Brule", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "phone": "8573875756",
      "email": "dr_steve_brule@gmail.com"}, "is_account_address": "false", "instructions":
      "Special pickup instructions"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_f0a1d91dca5b4c42b6af1ae4b48730c4", "object": "Pickup",
        "created_at": "2024-01-19T21:41:07Z", "updated_at": "2024-01-19T21:41:07Z",
        "mode": "test", "status": "unknown", "reference": "my-first-pickup", "min_datetime":
        "2024-01-22T00:00:00Z", "max_datetime": "2024-01-22T00:00:00Z", "is_account_address":
        false, "instructions": "Special pickup instructions", "messages": [], "confirmation":
        null, "address": {"id": "adr_7406e78cb71311ee99cfac1f6bc539ae", "object":
        "Address", "created_at": "2024-01-19T21:41:07+00:00", "updated_at": "2024-01-19T21:41:07+00:00",
        "name": "Dr. Steve Brule", "company": null, "street1": "179 N Harbor Dr",
        "street2": null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
        "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com", "mode":
        "test", "carrier_facility": null, "residential": null, "federal_tax_id": null,
        "state_tax_id": null, "verifications": {}}, "carrier_accounts": [], "pickup_rates":
        [{"mode": "test", "service": "NextDay", "rate": "0.00", "currency": "USD",
        "created_at": "2024-01-19T21:41:08Z", "updated_at": "2024-01-19T21:41:08Z",
        "carrier": "USPS", "pickup_id": "pickup_f0a1d91dca5b4c42b6af1ae4b48730c4",
        "id": "pickuprate_906a807395f749df9671bdc5d2f800b2", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f165aaec73e78b9edf000ce905
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups/pickup_f0a1d91dca5b4c42b6af1ae4b48730c4
  response:
    body:
      string: '{"id": "pickup_f0a1d91dca5b4c42b6af1ae4b48730c4", "object": "Pickup",
        "created_at": "2024-01-19T21:41:07Z", "updated_at": "2024-01-19T21:41:07Z",
        "mode": "test", "status": "unknown", "reference": "my-first-pickup", "min_datetime":
        "2024-01-22T00:00:00Z", "max[...]
[...]
