interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events?page_size=1
  response:
    body:
      string: '{"events": [{"description": "tracker.created", "id": "evt_66b02f04b71311ee8835730b68571ca4",
        "user_id": "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2024-01-19T21:40:45.014Z", "mode": "test", "object": "Event"}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaec62e78b9b8c000cd4d1
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events/evt_66b02f04b71311ee8835730b68571ca4
  response:
    body:
      string: '{"description": "tracker.created", "mode": "test", "previous_attributes":
        {}, "created_at": "2024-01-19T21:40:45.000Z", "pending_urls": [], "completed_urls":
        [], "updated_at": "2024-01-19T21:40:45.000Z", "id": "evt_66b02f04b71311ee8835730b68571ca4",
        "user_id": "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "object":
        "Event"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaec62e78b9b8d000cd509
      x-node:
      - bigweb31nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events/evt_4b821c3cb71411ee95a71df9e14ca8c8
  response:
    body:
      string: '{"description": "tracker.updated", "mode": "test", "previous_attributes":
        {"status": "in_transit"}, "created_at": "2024-01-19T21:47:09.000Z", "pending_urls":
        [], "completed_urls": [], "updated_at": "2024-01-19T21:47:09.000Z", "id":
        "evt_4b821c3cb71411ee95a71df9e14ca8c8", "user_id": "user_54356a6b96c940d8913961a3c7b909f2",
        "status": "pending", "object": "Event"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f627fdaa65aaeddee78bac6900112797
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events/evt_ffbb5518b71611ee8ca739fe56cbbea4
  response:
    body:
      string: '{"description": "tracker.updated", "mode": "test", "previous_attributes":
        {"status": "pre_transit"}, "created_at": "2024-01-19T22:06:30.000Z", "pending_urls":
        [], "completed_urls": [], "updated_at": "2024-01-19T22:06:30.000Z", "id":
        "evt_ffbb5518b71611ee8ca739fe56cbbea4", "user_id": "user_54356a6b96c940d8913961a3c7b909f2",
        "status": "pending", "object": "Event"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaf26ce798d51d0010e90d
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
