interactions:
- request:
    body: '{"start_date": "2022-10-01", "end_date": "2022-10-01"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_1a2add2499724affb3392a13f2ccb9f7", "object": "ShipmentReport",
        "created_at": "2024-01-19T21:41:56Z", "updated_at": "2024-01-19T21:41:56Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaeca4e78b9f29000d03b7
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"start_date": "2022-10-01", "end_date": "2022-10-01"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_7a6356a335b149fd976e4ddc64d56fe1", "object": "ShipmentReport",
        "created_at": "2024-01-19T22:05:41Z", "updated_at": "2024-01-19T22:05:41Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaf235e798d0e40010c4ab
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
version: 1
