interactions:
- request:
    body: '{"parcel": {"length": "20.2", "width": "10.9", "height": "5", "weight":
      "65.9"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_723c9187b4894dc187a748ab429e9cf6", "object": "Parcel",
        "created_at": "2024-01-19T21:41:02Z", "updated_at": "2024-01-19T21:41:02Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_723c9187b4894dc187a748ab429e9cf6
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f465aaec6ee78b9ec3000ce005
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/parcels/prcl_723c9187b4894dc187a748ab429e9cf6
  response:
    body:
      string: '{"id": "prcl_723c9187b4894dc187a748ab429e9cf6", "object": "Parcel",
        "created_at": "2024-01-19T21:41:02Z", "updated_at": "2024-01-19T21:41:02Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f365aaec6ee78b9ec4000ce1af
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/parcels/prcl_42b552be1f7646a6921edda395cde2d7
  response:
    body:
      string: '{"id": "prcl_42b552be1f7646a6921edda395cde2d7", "object": "Parcel",
        "created_at": "2024-01-19T22:05:16Z", "updated_at": "2024-01-19T22:05:16Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f465aaf21ce798d09a0010b2e5
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
