interactions:
- request:
    body: '{"parcel": {"length": "20.2", "width": "10.9", "height": "5", "weight":
      "65.9"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_58f88a512a02497e8137327927906c04", "object": "Parcel",
        "created_at": "2024-01-19T21:41:01Z", "updated_at": "2024-01-19T21:41:01Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_58f88a512a02497e8137327927906c04
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f165aaec6de78b9ec2000cdf18
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"parcel": {"length": "20.2", "width": "10.9", "height": "5", "weight":
      "65.9"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_ba86c73ac0eb48209b21894ef515129a", "object": "Parcel",
        "created_at": "2024-01-19T21:58:35Z", "updated_at": "2024-01-19T21:58:35Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_ba86c73ac0eb48209b21894ef515129a
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f865aaf08be798bf58000f764f
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"parcel": {"length": "20.2", "width": "10.9", "height": "5", "weight":
      "65.9"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_b88721f9a1ba4ac594672afbfb16e848", "object": "Parcel",
        "created_at": "2024-01-19T22:05:16Z", "updated_at": "2024-01-19T22:05:16Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_b88721f9a1ba4ac594672afbfb16e848
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f165aaf21ce798d0810010b267
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
version: 1
