interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"id": "user_98f23364261c476ab4ff9e9826c39e27", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "8888888888", "verified": true,
        "created_at": "2024-01-19T21:41:50Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        null, "secondary_recharge_amount": null, "recharge_threshold": null, "has_billing_method":
        null, "cc_fee_rate": "0.0375", "default_insurance_amount": "50.00", "insurance_fee_rate":
        "0.005", "insurance_fee_minimum": "0.25", "email": "referral_customer_798ade56147e4ea0ab12872b7b08edf7@donotemail.easypost.com",
        "children": [], "api_keys": [{"object": "ApiKey", "key": "<REDACTED>", "mode":
        "test", "created_at": "2024-01-19T21:41:51Z", "active": true, "id": "ak_8f075522f4524af5998e9f1d96b56dc9"},
        {"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2024-01-19T21:41:51Z", "active": true, "id": "ak_e8cb2d17f4184e80a1145646b331ae10"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaec9ee78b9f08000d00c6
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"id": "user_f8fdf81a8e33467bb785be3ce31a0b89", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "8888888888", "verified": true,
        "created_at": "2024-01-19T21:49:34Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        null, "secondary_recharge_amount": null, "recharge_threshold": null, "has_billing_method":
        null, "cc_fee_rate": "0.0375", "default_insurance_amount": "50.00", "insurance_fee_rate":
        "0.005", "insurance_fee_minimum": "0.25", "email": "referral_customer_e755ab83a3794e9cbc152b6294910ff4@donotemail.easypost.com",
        "children": [], "api_keys": [{"object": "ApiKey", "key": "<REDACTED>", "mode":
        "test", "created_at": "2024-01-19T21:49:34Z", "active": true, "id": "ak_7b0e3980b777467089d41a8b85d98b44"},
        {"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2024-01-19T21:49:34Z", "active": true, "id": "ak_0693b665b9c64148bbb6eeb056b87651"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f627fdad65aaee6de78bb4f300117d19
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
