interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "service": "Priority",
      "carrier": "USPS", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:40:11Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707504", "updated_at": "2024-01-19T21:40:12Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": {"id":
        "cstinfo_72e4c7185c5b4ec69615d6c971dee66b", "object": "CustomsInfo", "created_at":
        "2024-01-19T21:40:11Z", "updated_at": "2024-01-19T21:40:11Z", "contents_explanation":
        "", "contents_type": "merchandise", "customs_certify": true, "customs_signer":
        "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option": "return",
        "restriction_comments": null, "restriction_type": "none", "mode": "test",
        "declaration": null, "customs_items": [{"id": "cstitem_2797752246e145ee8fec30d105775cf4",
        "object": "CustomsItem", "created_at": "2024-01-19T21:40:11Z", "updated_at":
        "2024-01-19T21:40:11Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}, "from_address": {"id": "adr_52edc801b71311ee8c98ac1f6bc53342",
        "object": "Address", "created_at": "2024-01-19T21:40:11+00:00", "updated_at":
        "2024-01-19T21:40:11+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": null, "parcel": {"id": "prcl_83771c84ba2f44e380277f2cb68341b6",
        "object": "Parcel", "created_at": "2024-01-19T21:40:11Z", "updated_at": "2024-01-19T21:40:11Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_3deec53529304deeb3f235647b0afa77", "created_at": "2024-01-19T21:40:12Z",
        "updated_at": "2024-01-19T21:40:12Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T21:40:12Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e8f4073da265da4808a8ab9bd2ef2f5d56.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_0b01cebe43444895bf2c9686f3fdb132", "object":
        "Rate", "created_at": "2024-01-19T21:40:12Z", "updated_at": "2024-01-19T21:40:12Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "46.85",
        "currency": "USD", "retail_rate": "54.20", "retail_currency": "USD", "list_rate":
        "46.85", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_8f16c7d5967b4682ad8596a1475d023d", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_a51440eb856f42ae8d8e882a6edaf436",
        "object": "Rate", "created_at": "2024-01-19T21:40:12Z", "updated_at": "2024-01-19T21:40:12Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery[...]
- request:
    body: '{"batch": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_64a58d60294943d8ae88db0b5094a907", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 0, "reference": null,
        "created_at": "2024-01-19T21:40:13Z", "updated_at": "2024-01-19T21:40:13Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f865aaec3de78b9b08000cbd8a
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_8f16c7d5967b4682ad8596a1475d023d"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_64a58d60294943d8ae88db0b5094a907/add_shipments
  response:
    body:
      string: '{"id": "batch_64a58d60294943d8ae88db0b5094a907", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2024-01-19T21:40:13Z", "updated_at": "2024-01-19T21:40:13Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9405500207552010707504", "id":
        "shp_8f16c7d5967b4682ad8596a1475d023d"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f165aaec3de78b9b09000cbdb9
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"shipments": [{"id": "shp_9fbf5d43dc8b4340b5c0aa41240456a2"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_0e838e1fce7c491fa4d5c229f351330b/add_shipments
  response:
    body:
      string: '{"id": "batch_0e838e1fce7c491fa4d5c229f351330b", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2024-01-19T23:38:21Z", "updated_at": "2024-01-19T23:38:21Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9405500207552010723580", "id":
        "shp_9fbf5d43dc8b4340b5c0aa41240456a2"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f565ab07ede799e57f001d75f3
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
