interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances?page_size=1
  response:
    body:
      string: '{"insurances": [{"id": "ins_0c65f26dcda8479c865bef2e4cb90af3", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_6beb8718b71311eea58dac1f6bc539aa", "object": "Address", "created_at":
        "2024-01-19T21:40:53+00:00", "updated_at": "2024-01-19T21:40:53+00:00", "name":
        "DR. STEVE BRULE", "company": null, "street1": "179 N HARBOR DR", "street2":
        null, "city": "REDONDO BEACH", "state": "CA", "zip": "90277-2506", "country":
        "US", "phone": "8573875756", "email": "DR_STEVE_BRULE@GMAIL.COM", "mode":
        "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "from_address": {"id": "adr_6bf0bbe4b71311ee96f5ac1f6bc539ae", "object": "Address",
        "created_at": "2024-01-19T21:40:53+00:00", "updated_at": "2024-01-19T21:40:53+00:00",
        "name": "EASYPOST", "company": null, "street1": "417 MONTGOMERY ST # 5", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129", "country":
        "US", "phone": "4153334445", "email": "SUPPORT@EASYPOST.COM", "mode": "test",
        "carrier_facility": null, "residential": false, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.79342, "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}},
        "shipment_id": null, "tracker": {"id": "trk_0d317281c8314376810372b729bd9a05",
        "object": "Tracker", "mode": "test", "tracking_code": "9400110898825022579493",
        "status": "error", "status_detail": null, "created_at": "2024-01-19T21:40:53Z",
        "updated_at": "2024-01-19T21:40:53Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": null, "carrier": "USPS", "tracking_details": [{"object":
        "TrackingDetail", "message": "In test mode, only test tracking numbers are
        valid. Test tracking numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007",
        "description": "", "status": "error", "status_detail": null, "datetime": "2024-01-19T21:40:53Z",
        "source": "ProcessingError", "carrier_code": "", "tracking_location": {"object":
        "TrackingLocation", "city": null, "state": null, "country": null, "zip": null}}],
        "carrier_detail": null, "finalized": true, "is_return": false, "public_url":
        "https://track.easypost.com/djE6dHJrXzBkMzE3MjgxYzgzMTQzNzY4MTAzNzJiNzI5YmQ5YTA1",
        "fees": []}, "tracking_code": "9400110898825022579493", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2024-01-19T21:40:53Z", "updated_at":
        "2024-01-19T21:40:53Z"}], "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaec66e78b9bab000cd73e
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances/ins_0c65f26dcda8479c865bef2e4cb90af3
  response:
    body:
      string: '{"id": "ins_0c65f26dcda8479c865bef2e4cb90af3", "object": "Insurance",
        "mode": "test", "reference": null, "status": "pending", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id": "adr_6beb8718b71311eea58dac1f6bc539aa",
        "obj[...]
[...]
