interactions:
- request:
    body: '{"address": {"street1": "417 MONTGOMERY ST", "street2": "FLOOR 5", "city":
      "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_3d3815d8b71311ee83453cecef1b359e", "object": "Address",
        "created_at": "2024-01-19T21:39:35+00:00", "updated_at": "2024-01-19T21:39:35+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_3d3815d8b71311ee83453cecef1b359e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f565aaec17e78b9ac1000ca695
      x-node:
      - bigweb31nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"address": {"street1": "417 MONTGOMERY ST", "street2": "FLOOR 5", "city":
      "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_3d105a66b71411ee9e33ac1f6bc539ae", "object": "Address",
        "created_at": "2024-01-19T21:46:44+00:00", "updated_at": "2024-01-19T21:46:44+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_3d105a66b71411ee9e33ac1f6bc539ae
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f627fda765aaedc4e78ba872001117a3
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"address": {"street1": "417 MONTGOMERY ST", "street2": "FLOOR 5", "city":
      "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_cf0c4972b72311ee90f7ac1f6bc539aa", "object": "Address",
        "created_at": "2024-01-19T23:38:12+00:00", "updated_at": "2024-01-19T23:38:12+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_cf0c4972b72311ee90f7ac1f6bc539aa
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f165ab07e3e799e523001d7111
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
version: 1
