interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_e845881a9a8248a5bfe6c7ce7770aac0", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "8005550100", "verified": true, "created_at": "2024-01-19T21:42:24Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": [], "api_keys": [{"object":
        "ApiKey", "key": "<REDACTED>", "mode": "test", "created_at": "2024-01-19T21:42:24Z",
        "active": true, "id": "ak_e41b5330b4384282ad6d92c99c732917"}, {"object": "ApiKey",
        "key": "<REDACTED>", "mode": "production", "created_at": "2024-01-19T21:42:24Z",
        "active": true, "id": "ak_30371cb814324279b1443561ffeebb08"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaecbfe78b9fac000d12e0
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_e845881a9a8248a5bfe6c7ce7770aac0
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaecc0e78b9fad000d1371
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_019a0be77a5f4e92811144058336a6c7
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f365aaf171e798c8be00103789
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 204
      message: No Content
version: 1
