interactions:
- request:
    body: '{"address": {"name": "FOO BAR", "company": "BAZ", "null": null, "street1":
      "164 TOWNSEND STREET UNIT 1", "street2": "UNIT 1", "city": "SAN FRANCISCO",
      "state": "CA", "zip": "94107", "country": "US", "phone": "555 555-5555", "email":
      "FOO@EXAMPLE.COM"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_731fce1430ab46daa9b237d1ddbe7e81", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T21:40:45+00:00", "updated_at": "2024-01-19T21:40:45+00:00",
        "name": "FOO BAR", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555 555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f565aaec5de78b9b6c000cd195
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers/es_731fce1430ab46daa9b237d1ddbe7e81
  response:
    body:
      string: '{"id": "es_731fce1430ab46daa9b237d1ddbe7e81", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T21:40:45+00:00", "updated_at": "2024-01-19T21:40:45+00:00",
        "name": "FOO BAR", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555 555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaec5de78b9b6d000cd1fb
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers/es_287f12311849436f849aa36548b3e54a
  response:
    body:
      string: '{"id": "es_287f12311849436f849aa36548b3e54a", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T21:58:17+00:00", "updated_at": "2024-01-19T21:58:17+00:00",
        "name": "FOO BAR", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555 555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f365aaf079e798bbff000f6d2a
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers/es_d48158780d39432793a984910c8222df
  response:
    body:
      string: '{"id": "es_d48158780d39432793a984910c8222df", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T22:06:30+00:00", "updated_at": "2024-01-19T22:06:30+00:00",
        "name": "FOO BAR", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555 555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaf267e798d4fd0010e591
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
