interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?page_size=1
  response:
    body:
      string: '{"addresses": [{"id": "adr_3e80b02eb71311ee83bf3cecef1b359e", "object":
        "Address", "created_at": "2024-01-19T21:39:37+00:00", "updated_at": "2024-01-19T21:39:37+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}], "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaec1ae78b9ae1000ca83d
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?page_size=1
  response:
    body:
      string: '{"addresses": [{"id": "adr_3e7f602db71411ee9dcdac1f6bc53342", "object":
        "Address", "created_at": "2024-01-19T21:46:47+00:00", "updated_at": "2024-01-19T21:46:47+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}], "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f627fda765aaedc7e78baba500111979
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?page_size=1
  response:
    body:
      string: '{"addresses": [{"id": "adr_d09c1819b72311ee84c0ac1f6bc53342", "object":
        "Address", "created_at": "2024-01-19T23:38:14+00:00", "updated_at": "2024-01-19T23:38:14+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}], "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365ab07e7e799e543001d72b6
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
