interactions:
- request:
    body: '{"address": {"name": "FOO BAR", "company": "BAZ", "null": null, "street1":
      "164 TOWNSEND STREET UNIT 1", "street2": "UNIT 1", "city": "SAN FRANCISCO",
      "state": "CA", "zip": "94107", "country": "US", "phone": "555 555-5555", "email":
      "FOO@EXAMPLE.COM"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_4c83da873476490ba46e9347783e21fe", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T21:40:44+00:00", "updated_at": "2024-01-19T21:40:44+00:00",
        "name": "FOO BAR", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555 555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaec5ce78b9b6b000cd169
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"address": {"name": "FOO BAR", "company": "BAZ", "null": null, "street1":
      "164 TOWNSEND STREET UNIT 1", "street2": "UNIT 1", "city": "SAN FRANCISCO",
      "state": "CA", "zip": "94107", "country": "US", "phone": "555 555-5555", "email":
      "FOO@EXAMPLE.COM"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_16ce1e75051845b69c448611a68cdbd9", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T22:06:30+00:00", "updated_at": "2024-01-19T22:06:30+00:00",
        "name": "FOO BAR", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555 555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f165aaf266e798d4e40010e53b
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
version: 1
