interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:41:47Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2024-01-19T21:41:48Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": {"id": "cstinfo_f9d623658fd243c8a8d086c337c26cc5",
        "object": "CustomsInfo", "created_at": "2024-01-19T21:41:47Z", "updated_at":
        "2024-01-19T21:41:47Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_15999bc6c9b14ff8bc88506c1c30b6b0", "object": "CustomsItem",
        "created_at": "2024-01-19T21:41:47Z", "updated_at": "2024-01-19T21:41:47Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_8bf7cddfb71311eeb0e0ac1f6bc539aa", "object":
        "Address", "created_at": "2024-01-19T21:41:47+00:00", "updated_at": "2024-01-19T21:41:47+00:00",
        "name": "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_1ed463939b134aa9b9266949c97bc25c", "object": "Parcel", "created_at":
        "2024-01-19T21:41:47Z", "updated_at": "2024-01-19T21:41:47Z", "length": 20.2,
        "width": 10.9, "height": 5.0, "predefined_package": null, "weight": 65.9,
        "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_c687bf16e5ca4546975a7592c4f98601",
        "object": "Rate", "created_at": "2024-01-19T21:41:48Z", "updated_at": "2024-01-19T21:41:48Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "46.85",
        "currency": "USD", "retail_rate": "54.20", "retail_currency": "USD", "list_rate":
        "46.85", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_1be229ae6e724ace9b3f7147bb186ff8", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_799ced93c52e4e2e952aa6786805bac2",
        "object": "Rate", "created_at": "2024-01-19T21:41:48Z", "updated_at": "2024-01-19T21:41:48Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost"[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/rates/rate_c687bf16e5ca4546975a7592c4f98601
  response:
    body:
      string: '{"id": "rate_c687bf16e5ca4546975a7592c4f98601", "object": "Rate", "created_at":
        "2024-01-19T21:41:48Z", "updated_at": "2024-01-19T21:41:48Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "46.85", "currency": "USD",
        "retail_rate": "54.20", "retail_currency": "USD", "list_rate": "46.85", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": null, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": null, "shipment_id":
        "shp_1be229ae6e724ace9b3f7147bb186ff8", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaec9ce78b9f05000cffa4
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/rates/rate_c98f934cdb2f412bbe9bfc718bdfd7ad
  response:
    body:
      string: '{"id": "rate_c98f934cdb2f412bbe9bfc718bdfd7ad", "object": "Rate", "created_at":
        "2024-01-19T22:05:31Z", "updated_at": "2024-01-19T22:05:31Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "46.85", "currency": "USD",
        "retail_rate": "54.20", "retail_currency": "USD", "list_rate": "46.85", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": null, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": null, "shipment_id":
        "shp_d172d73fb9994218b88431cb5e56abbc", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f865aaf22ce798d0c00010bdbb
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
