interactions:
- request:
    body: '{"address": {"name": "FOO BAR", "company": "BAZ", "null": null, "street1":
      "164 TOWNSEND STREET UNIT 1", "street2": "UNIT 1", "city": "SAN FRANCISCO",
      "state": "CA", "zip": "94107", "country": "US", "phone": "555 555-5555", "email":
      "FOO@EXAMPLE.COM"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_31c5fb3d5ac34efb898a113afd0bb2c6", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T21:40:46+00:00", "updated_at": "2024-01-19T21:40:46+00:00",
        "name": "FOO BAR", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555 555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaec5ee78b9b86000cd2a0
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: '{"address": {"name": "NEW NAME", "company": "BAZ", "street1": "164 TOWNSEND
      STREET UNIT 1", "street2": "UNIT 1", "city": "SAN FRANCISCO", "state": "CA",
      "zip": "94107", "country": "US", "phone": "555-555-5555", "email": "FOO@EXAMPLE.COM"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PUT
    uri: https://api.easypost.com/v2/end_shippers/es_31c5fb3d5ac34efb898a113afd0bb2c6
  response:
    body:
      string: '{"id": "es_31c5fb3d5ac34efb898a113afd0bb2c6", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T21:40:46+00:00", "updated_at": "2024-01-19T21:40:47+00:00",
        "name": "NEW NAME", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555-555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f865aaec5fe78b9b87000cd2d0
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"address": {"name": "NEW NAME", "company": "BAZ", "street1": "164 TOWNSEND
      STREET UNIT 1", "street2": "UNIT 1", "city": "SAN FRANCISCO", "state": "CA",
      "zip": "94107", "country": "US", "phone": "555-555-5555", "email": "FOO@EXAMPLE.COM"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PUT
    uri: https://api.easypost.com/v2/end_shippers/es_2fc285fa69034b89a0229aa26fb503a4
  response:
    body:
      string: '{"id": "es_2fc285fa69034b89a0229aa26fb503a4", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T22:06:32+00:00", "updated_at": "2024-01-19T22:06:32+00:00",
        "name": "NEW NAME", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555-555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f165aaf268e798d5000010e6c0
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
