interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "is_return":
      true}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:41:57Z", "is_return": true, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2024-01-19T21:41:57Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": {"id": "cstinfo_e10a9748677e40aaa2bcd72f16b7e305",
        "object": "CustomsInfo", "created_at": "2024-01-19T21:41:57Z", "updated_at":
        "2024-01-19T21:41:57Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_3aa772839a134304b1eb2ae01a8a17f9", "object": "CustomsItem",
        "created_at": "2024-01-19T21:41:57Z", "updated_at": "2024-01-19T21:41:57Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_91fe73f7b71311eeb2deac1f6bc539aa", "object":
        "Address", "created_at": "2024-01-19T21:41:57+00:00", "updated_at": "2024-01-19T21:41:57+00:00",
        "name": "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_fc22ab275ab14dc88a49b502ad0b3908", "object": "Parcel", "created_at":
        "2024-01-19T21:41:57Z", "updated_at": "2024-01-19T21:41:57Z", "length": 20.2,
        "width": 10.9, "height": 5.0, "predefined_package": null, "weight": 65.9,
        "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_5df3c128204346d48fa33e244add15bd",
        "object": "Rate", "created_at": "2024-01-19T21:41:57Z", "updated_at": "2024-01-19T21:41:57Z",
        "mode": "test", "service": "DHLSmartMailParcelReturnGround", "carrier": "DhlEcs",
        "rate": "0.01", "currency": "USD", "retail_rate": null, "retail_currency":
        null, "list_rate": null, "list_currency": null, "billing_type": "carrier",
        "delivery_days": null, "delivery_date": null, "delivery_date_guaranteed":
        null, "est_delivery_days": null, "shipment_id": "shp_b41a3ae8f7cd499aa1394df72ee7b11c",
        "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a"}, {"id": "rate_d3e81642d3a34c55a226b5193dcb1180",
        "object": "Rate", "created_at": "2024-01-19T21:41:58Z", "updated_at": "2024-01-19T21:41:58Z",
        "mode": "test", "service": "DHLSmartMailParcelReturnPlus", "carrier": "DhlEcs",
        "rate": "0.01", "currency": "USD", "retail_rate": null, "retail_currency":
        null, "list_rate": null, "list_currency": null, "billing_type": "carrier",
        "delivery_days": null, "delivery_date": null, "[...]
[...]
