interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/rates
  response:
    body:
      string: '{"from_address": {"object": "Address", "name": "EasyPost", "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com"}, "to_address": {"object": "Address", "name": "Dr.
        Steve Brule", "street1": "179 N Harbor Dr", "city": "Redondo Beach", "state":
        "CA", "zip": "90277", "country": "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"},
        "rates": [{"object": "Rate", "mode": "test", "service": "GroundAdvantage",
        "carrier": "USPS", "rate": "6.79", "currency": "USD", "retail_rate": "12.45",
        "retail_currency": "USD", "list_rate": "8.92", "list_currency": "USD", "billing_type":
        "easypost", "delivery_days": 3, "delivery_date": null, "delivery_date_guaranteed":
        false, "est_delivery_days": 3, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"object": "Rate", "mode": "test", "service": "First", "carrier": "USPS",
        "rate": "6.79", "currency": "USD", "retail_rate": "12.45", "retail_currency":
        "USD", "list_rate": "8.92", "list_currency": "USD", "billing_type": "easypost",
        "delivery_days": 3, "delivery_date": null, "delivery_date_guaranteed": false,
        "est_delivery_days": 3, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"object": "Rat[...]
