interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "service": "Priority",
      "carrier": "USPS", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:41:53Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707757", "updated_at": "2024-01-19T21:41:54Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": {"id":
        "cstinfo_5b9c51d481994019bf4bf817f4d4f5eb", "object": "CustomsInfo", "created_at":
        "2024-01-19T21:41:53Z", "updated_at": "2024-01-19T21:41:53Z", "contents_explanation":
        "", "contents_type": "merchandise", "customs_certify": true, "customs_signer":
        "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option": "return",
        "restriction_comments": null, "restriction_type": "none", "mode": "test",
        "declaration": null, "customs_items": [{"id": "cstitem_c00eecdbdd1e4f1b991badc5660907ea",
        "object": "CustomsItem", "created_at": "2024-01-19T21:41:53Z", "updated_at":
        "2024-01-19T21:41:53Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}, "from_address": {"id": "adr_8f6c7415b71311eea231ac1f6bc53342",
        "object": "Address", "created_at": "2024-01-19T21:41:53+00:00", "updated_at":
        "2024-01-19T21:41:53+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": null, "parcel": {"id": "prcl_f005a5bab8e548918a17eecbd50cd8bf",
        "object": "Parcel", "created_at": "2024-01-19T21:41:53Z", "updated_at": "2024-01-19T21:41:53Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_aba18bcd06f048dab8b09eb4ac91a959", "created_at": "2024-01-19T21:41:53Z",
        "updated_at": "2024-01-19T21:41:54Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T21:41:53Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e80bbee2189abe4e4c95e36caaadfd9cd3.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_e9c1667bd37944c2a8d4bc86328be313", "object":
        "Rate", "created_at": "2024-01-19T21:41:53Z", "updated_at": "2024-01-19T21:41:53Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "46.85",
        "currency": "USD", "retail_rate": "54.20", "retail_currency": "USD", "list_rate":
        "46.85", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_31826ec4b32847c9943a27371cc43b28", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_01366477528d42e0b612f9fed816d229",
        "object": "Rate", "created_at": "2024-01-19T21:41:53Z", "updated_at": "2024-01-19T21:41:53Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_31826ec4b32847c9943a27371cc43b28
  response:
    body:
      string: '{"created_at": "2024-01-19T21:41:53Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707757", "upd[...]
- request:
    body: '{"refund": {"carrier": "USPS", "tracking_codes": "9405500207552010707757"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/refunds
  response:
    body:
      string: '[{"id": "rfnd_bcb3fa1dfbfe4706bd524ee81fd249ab", "object": "Refund",
        "created_at": "2024-01-19T21:41:55Z", "updated_at": "2024-01-19T21:41:55Z",
        "tracking_code": "9405500207552010707757", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_31826ec4b32847c9943a27371cc43b28"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaeca3e78b9f25000d02eb
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"refund": {"carrier": "USPS", "tracking_codes": "9405500207552010712751"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/refunds
  response:
    body:
      string: '[{"id": "rfnd_c09e4177ad2145af988e4ebb667c3e61", "object": "Refund",
        "created_at": "2024-01-19T22:05:39Z", "updated_at": "2024-01-19T22:05:39Z",
        "tracking_code": "9405500207552010712751", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_82d6d2c4dc54475f909ac8080da5e80a"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaf233e798d0e00010c344
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
version: 1
