interactions:
- request:
    body: '{"order": {"to_address": {"name": "Dr. Steve Brule", "street1": "179 N
      Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "shipments": [{"parcel": {"weight":
      "10.2"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode": "test", "reference": "", "is_return": false, "options": {"currency":
        "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier": "DhlEcs",
        "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a", "type": "rate_error",
        "message": "Unauthorized. Please check credentials and try again"}, {"carrier":
        "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c", "type":
        "rate_error", "message": "Unauthorized. Please check credentials and try again"},
        {"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "created_at": "2024-01-19T21:40:57Z", "updated_at": "2024-01-19T21:40:58Z",
        "customs_info": null, "from_address": {"id": "adr_6e41e4a5b71311ee97ceac1f6bc539ae",
        "object": "Address", "created_at": "2024-01-19T21:40:57+00:00", "updated_at":
        "2024-01-19T21:40:57+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "to_address": {"id": "adr_6e3fba44b71311ee96afac1f6bc53342", "object": "Address",
        "created_at": "2024-01-19T21:40:57+00:00", "updated_at": "2024-01-19T21:40:57+00:00",
        "name": "Dr. Steve Brule", "company": null, "street1": "179 N Harbor Dr",
        "street2": null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
        "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com", "mode":
        "test", "carrier_facility": null, "residential": null, "federal_tax_id": null,
        "state_tax_id": null, "verifications": {}}, "buyer_address": {"id": "adr_6e3fba44b71311ee96afac1f6bc53342",
        "object": "Address", "created_at": "2024-01-19T21:40:57+00:00", "updated_at":
        "2024-01-19T21:40:57+00:00", "name": "Dr. Steve Brule", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "return_address": {"id":
        "adr_6e41e4a5b71311ee97ceac1f6bc539ae", "object": "Address", "created_at":
        "2024-01-19T21:40:57+00:00", "updated_at": "2024-01-19T21:40:57+00:00", "name":
        "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal[...]
- request:
    body: '{"carrier": "USPS", "service": "First"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders/order_c9ac9440c9b14226baf7e2de4e9b43b8/buy
  response:
    body:
      string: '{"mode": "test", "reference": "", "is_return": false, "options": {"currency":
        "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier": "DhlEcs",
        "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a", "type": "rate_error",[...]
[...]
