interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "service": "Priority",
      "carrier": "USPS", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:40:51Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707603", "updated_at": "2024-01-19T21:40:52Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": {"id":
        "cstinfo_38ecc3f3705e49c991c0dc6291dc784d", "object": "CustomsInfo", "created_at":
        "2024-01-19T21:40:51Z", "updated_at": "2024-01-19T21:40:51Z", "contents_explanation":
        "", "contents_type": "merchandise", "customs_certify": true, "customs_signer":
        "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option": "return",
        "restriction_comments": null, "restriction_type": "none", "mode": "test",
        "declaration": null, "customs_items": [{"id": "cstitem_0aae18e08ec34a51b6c4075698eba8ef",
        "object": "CustomsItem", "created_at": "2024-01-19T21:40:51Z", "updated_at":
        "2024-01-19T21:40:51Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}, "from_address": {"id": "adr_6a6af012b71311ee93943cecef1b359e",
        "object": "Address", "created_at": "2024-01-19T21:40:51+00:00", "updated_at":
        "2024-01-19T21:40:51+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": null, "parcel": {"id": "prcl_219d7ac310664dfa97e2982c4fac0238",
        "object": "Parcel", "created_at": "2024-01-19T21:40:51Z", "updated_at": "2024-01-19T21:40:51Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_3d83fe2e299342768fa5f28bedf21afd", "created_at": "2024-01-19T21:40:51Z",
        "updated_at": "2024-01-19T21:40:52Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T21:40:51Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e81fb54b2c23e84e9ea9b447fee1f9247d.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_0278b6d89b0243d1841f570619840fe3", "object":
        "Rate", "created_at": "2024-01-19T21:40:51Z", "updated_at": "2024-01-19T21:40:51Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "46.85",
        "currency": "USD", "retail_rate": "54.20", "retail_currency": "USD", "list_rate":
        "46.85", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_5d6acc1b88f44743955ee35c7ca4e611", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_939f7dc9c1714ec7b89955cd7f10edd1",
        "object": "Rate", "created_at": "2024-01-19T21:40:51Z", "updated_at": "2024-01-19T21:40:51Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery[...]
- request:
    body: '{"form": {"type": "return_packing_slip", "barcode": "RMA12345678900", "line_items":
      [{"product": {"title": "Square Reader", "barcode": "855658003251"}, "units":
      8}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_5d6acc1b88f44743955ee35c7ca4e611/forms
  response:
    body:
      string: '{"created_at": "2024-01-19T21:40:51Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code"[...]
[...]
