interactions:
- request:
    body: '{"order": {"to_address": {"name": "Dr. Steve Brule", "street1": "179 N
      Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "shipments": [{"parcel": {"weight":
      "10.2"}}], "carrier": "USPS", "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"messages": [], "mode": "test", "reference": "", "is_return": false,
        "options": {"currency": "USD", "payment": {"type": "SENDER"}}, "created_at":
        "2024-01-19T21:41:00Z", "updated_at": "2024-01-19T21:41:00Z", "customs_info":
        null, "from_address": {"id": "adr_6ffbd0f5b71311ee975cac1f6bc53342", "object":
        "Address", "created_at": "2024-01-19T21:41:00+00:00", "updated_at": "2024-01-19T21:41:00+00:00",
        "name": "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "to_address": {"id": "adr_6ffa7cc8b71311ee9870ac1f6bc539ae",
        "object": "Address", "created_at": "2024-01-19T21:41:00+00:00", "updated_at":
        "2024-01-19T21:41:00+00:00", "name": "DR. STEVE BRULE", "company": null, "street1":
        "179 N HARBOR DR", "street2": "", "city": "REDONDO BEACH", "state": "CA",
        "zip": "90277-2506", "country": "US", "phone": "8573875756", "email": "DR_STEVE_BRULE@GMAIL.COM",
        "mode": "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "buyer_address": {"id": "adr_6ffa7cc8b71311ee9870ac1f6bc539ae", "object":
        "Address", "created_at": "2024-01-19T21:41:00+00:00", "updated_at": "2024-01-19T21:41:00+00:00",
        "name": "DR. STEVE BRULE", "company": null, "street1": "179 N HARBOR DR",
        "street2": "", "city": "REDONDO BEACH", "state": "CA", "zip": "90277-2506",
        "country": "US", "phone": "8573875756", "email": "DR_STEVE_BRULE@GMAIL.COM",
        "mode": "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "return_address": {"id": "adr_6ffbd0f5b71311ee975cac1f6bc53342", "object":
        "Address", "created_at": "2024-01-19T21:41:00+00:00", "updated_at": "2024-01-19T21:41:00+00:00",
        "name": "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "shipments": [{"created_at": "2024-01-19T21:41:00Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": "9400100207552010707624", "updated_at":
        "2024-01-19T21:41:01Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": null, "from_address": {"id": "adr_6ffbd0f5b71311ee975cac1f6bc53342",
        "object": "Address", "created_at": "2024-01-19T21:41:00+00:00", "updated_at":
        "2024-01-19T21:41:00+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": "order_19252a72d5e842a988e3a776cc3825df", "parcel":
        {"id": "prcl_d2fa368783e34a63984048f7e4195f97", "object": "Parcel", "created_at":
        "2024-01-19T21:41:00Z", "updated_at": "2024-01-19T21:41:00Z", "length": null,
        "width": null, "height": null, "predefined_package": null, "weight": 10.2,
        "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_8dea8cf6e5624d149b8ec5eede8fe324",
        "created_at": "2024-01-19T21:41:01Z", "updated_at": "2024-01-19T21:41:01Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2024-01-19T21:41:01Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e84cb1f227b69f47e098494d9950a28d37.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_104fbc9045af4099a0b6d679aad9e96d", "object":
        "Rate", "created_at": "2024-01-19T21:41:00Z", "updated_at": "2024-01-19T21:41:00Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_52ca0171eee7472186bb4e287b79cd0c", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_330b37e88e5241fba2f83133a2c74cc9",
        "object": "Rate", "created_at": "2024-01-19T21:41:00Z", "updated_at": "2024-01-19T21:41:00Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_[...]
[...]
