interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/referral_customers?page_size=1
  response:
    body:
      string: '{"has_more": true, "referral_customers": [{"id": "user_634b6daa05744bfaa205058f06864363",
        "object": "User", "parent_id": null, "name": "Firstname Lastname", "phone_number":
        "8888888888", "verified": true, "created_at": "2022-04-26T15:50:28Z", "default_carbon_offset":
        false, "has_elevate_access": false, "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.0325", "default_insurance_amount":
        "50.00", "insurance_fee_rate": "0.005", "insurance_fee_minimum": "0.25", "email":
        "email@example.com", "children": []}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaeca1e78b9f22000d01e0
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/referral_customers?page_size=1
  response:
    body:
      string: '{"has_more": true, "referral_customers": [{"id": "user_634b6daa05744bfaa205058f06864363",
        "object": "User", "parent_id": null, "name": "Firstname Lastname", "phone_number":
        "8888888888", "verified": true, "created_at": "2022-04-26T15:50:28Z", "default_carbon_offset":
        false, "has_elevate_access": false, "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.0325", "default_insurance_amount":
        "50.00", "insurance_fee_rate": "0.005", "insurance_fee_minimum": "0.25", "email":
        "email@example.com", "children": []}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f865aaf231e798d0dd0010c19c
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
