interactions:
- request:
    body: '{"customs_info": {"customs_certify": "true", "customs_signer": "Steve Brule",
      "contents_type": "merchandise", "contents_explanation": "", "restriction_type":
      "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items": [{"description": "T-shirt",
      "quantity": "1", "weight": "5", "value": "10", "code": "123", "hs_tariff_number":
      "123456", "origin_country": "US"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_infos
  response:
    body:
      string: '{"id": "cstinfo_5407d9771090494a8ef46d89d5994230", "object": "CustomsInfo",
        "created_at": "2024-01-19T21:40:43Z", "updated_at": "2024-01-19T21:40:43Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_a75fa158444145deaf5287b2ab3bf6d7",
        "object": "CustomsItem", "created_at": "2024-01-19T21:40:43Z", "updated_at":
        "2024-01-19T21:40:43Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_infos/cstinfo_5407d9771090494a8ef46d89d5994230
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaec5be78b9b66000cd092
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_5407d9771090494a8ef46d89d5994230
  response:
    body:
      string: '{"id": "cstinfo_5407d9771090494a8ef46d89d5994230", "object": "CustomsInfo",
        "created_at": "2024-01-19T21:40:43Z", "updated_at": "2024-01-19T21:40:43Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_3b8b4025ac1c4266b538cd81c5f5cc96
  response:
    body:
      string: '{"id": "cstinfo_3b8b4025ac1c4266b538cd81c5f5cc96", "object": "CustomsInfo",
        "created_at": "2024-01-19T21:43:12Z", "updated_at": "2024-01-19T21:43:12Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_9c38e7d398c0482292e350e6b3354ac8",
        "object": "CustomsItem", "created_at": "2024-01-19T21:43:12Z", "updated_at":
        "2024-01-19T21:43:12Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f765aaecf0e78ba38b000d2e7e
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
