interactions:
- request:
    body: '{"customs_info": {"customs_certify": "true", "customs_signer": "Steve Brule",
      "contents_type": "merchandise", "contents_explanation": "", "restriction_type":
      "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items": [{"description": "T-shirt",
      "quantity": "1", "weight": "5", "value": "10", "code": "123", "hs_tariff_number":
      "123456", "origin_country": "US"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_infos
  response:
    body:
      string: '{"id": "cstinfo_831ded88bcd742708daf7cd54cae8c1e", "object": "CustomsInfo",
        "created_at": "2024-01-19T21:40:43Z", "updated_at": "2024-01-19T21:40:43Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_a2676810f53244c1a329c3a4e48c0a34",
        "object": "CustomsItem", "created_at": "2024-01-19T21:40:43Z", "updated_at":
        "2024-01-19T21:40:43Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_infos/cstinfo_831ded88bcd742708daf7cd54cae8c1e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaec5be78b9b65000cd067
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
