interactions:
- request:
    body: '{"address": {"street1": "417 MONTGOMERY ST", "street2": "FLOOR 5", "city":
      "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}, "verify_strict": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_3dcd27a7b71311ee837b3cecef1b359e", "object": "Address",
        "created_at": "2024-01-19T21:39:36+00:00", "updated_at": "2024-01-19T21:39:36+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [], "details": null},
        "delivery": {"success": true, "errors": [], "details": {"latitude": 37.79342,
        "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_3dcd27a7b71311ee837b3cecef1b359e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaec18e78b9ac4000ca73b
      x-node:
      - bigweb31nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"address": {"street1": "417 MONTGOMERY ST", "street2": "FLOOR 5", "city":
      "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}, "verify_strict": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_f2fbbc78b71611ee9070ac1f6bc539aa", "object": "Address",
        "created_at": "2024-01-19T22:06:08+00:00", "updated_at": "2024-01-19T22:06:08+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [], "details": null},
        "delivery": {"success": true, "errors": [], "details": {"latitude": 37.79342,
        "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_f2fbbc78b71611ee9070ac1f6bc539aa
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f365aaf250e798d1440010d7c8
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
