interactions:
- request:
    body: '{"address": {"street1": "417 MONTGOMERY ST", "street2": "FLOOR 5", "city":
      "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_3df98c4fb71311ee857cac1f6bc53342", "object": "Address",
        "created_at": "2024-01-19T21:39:36+00:00", "updated_at": "2024-01-19T21:39:36+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_3df98c4fb71311ee857cac1f6bc53342
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaec18e78b9ac5000ca76f
      x-node:
      - bigweb31nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_3df98c4fb71311ee857cac1f6bc53342/verify
  response:
    body:
      string: '{"address": {"id": "adr_3e282aa2b71311ee83973cecef1b359e", "object":
        "Address", "created_at": "2024-01-19T21:39:37+00:00", "updated_at": "2024-01-19T21:39:37+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [], "details": null},
        "delivery": {"success": true, "errors": [], "details": {"latitude": 37.79342,
        "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_3e282aa2b71311ee83973cecef1b359e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f465aaec18e78b9ac6000ca78f
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"address": {"street1": "417 MONTGOMERY ST", "street2": "FLOOR 5", "city":
      "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_c2bd248eb71511eea01bac1f6bc539ae", "object": "Address",
        "created_at": "2024-01-19T21:57:38+00:00", "updated_at": "2024-01-19T21:57:38+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_c2bd248eb71511eea01bac1f6bc539ae
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f665aaf052e798bb3d000f55d4
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_cff34a0db72311ee848eac1f6bc53342/verify
  response:
    body:
      string: '{"address": {"id": "adr_d0228e04b72311ee868eac1f6bc539ae", "object":
        "Address", "created_at": "2024-01-19T23:38:13+00:00", "updated_at": "2024-01-19T23:38:13+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [], "details": null},
        "delivery": {"success": true, "errors": [], "details": {"latitude": 37.79342,
        "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_d0228e04b72311ee868eac1f6bc539ae
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f627fdaa65ab07e5e799e53f0020caf4
      x-node:
      - bigweb31nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
