interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "description": "CA Location
      DHL eCommerce Solutions Account", "credentials": {"client_id": "123456", "client_secret":
      "123abc", "distribution_center": "USLAX1", "pickup_id": "123456"}, "test_credentials":
      {"client_id": "123456", "client_secret": "123abc", "distribution_center": "USLAX1",
      "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_49661b5fd3e441b48514efaeb722c886", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2024-01-19T21:40:40Z",
        "updated_at": "2024-01-19T21:40:40Z", "description": "CA Location DHL eCommerce
        Solutions Account", "reference": null, "billing_type": "carrier", "readable":
        "DHL eCommerce Solutions", "logo": null, "fields": {"credentials": {"client_id":
        {"visibility": "visible", "label": "DHL eCommerce Solutions client ID", "value":
        "123456"}, "client_secret": {"visibility": "password", "label": "DHL eCommerce
        Solutions client secret", "value": "********"}, "pickup_id": {"visibility":
        "visible", "label": "DHL eCommerce Solutions pickup ID", "value": "123456"},
        "distribution_center": {"visibility": "visible", "label": "DHL eCommerce Solutions
        distribution center", "value": "USLAX1"}}, "test_credentials": {"client_id":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions client ID",
        "value": "123456"}, "client_secret": {"visibility": "password", "label": "Test
        DHL eCommerce Solutions client secret", "value": "********"}, "pickup_id":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions pickup ID",
        "value": "123456"}, "distribution_center": {"visibility": "visible", "label":
        "Test DHL eCommerce Solutions distribution center", "value": "USLAX1"}}},
        "credentials": {"client_id": "123456", "client_secret": "********", "pickup_id":
        "123456", "distribution_center": "USLAX1"}, "test_credentials": {"client_id":
        "123456", "client_secret": "********", "pickup_id": "123456", "distribution_center":
        "USLAX1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaec58e78b9b47000ccf24
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 201
      message: Created
- request:
    body: '{"carrier_account": {"description": "My custom description"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/carrier_accounts/ca_49661b5fd3e441b48514efaeb722c886
  response:
    body:
      string: '{"id": "ca_49661b5fd3e441b48514efaeb722c886", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2024-01-19T21:40:40Z",
        "up[...]
[...]
