interactions:
- request:
    body: '{"address": {"street1": "417 MONTGOMERY ST", "street2": "FLOOR 5", "city":
      "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_3e80b02eb71311ee83bf3cecef1b359e", "object": "Address",
        "created_at": "2024-01-19T21:39:37+00:00", "updated_at": "2024-01-19T21:39:37+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_3e80b02eb71311ee83bf3cecef1b359e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f865aaec19e78b9ac8000ca7ec
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_3e80b02eb71311ee83bf3cecef1b359e
  response:
    body:
      string: '{"id": "adr_3e80b02eb71311ee83bf3cecef1b359e", "object": "Address",
        "created_at": "2024-01-19T21:39:37+00:00", "updated_at": "2024-01-19T21:39:37+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaec19e78b9ae0000ca813
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
- request:
    body: '{"address": {"street1": "417 MONTGOMERY ST", "street2": "FLOOR 5", "city":
      "SAN FRANCISCO", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_b5aa371db71311eeb0a0ac1f6bc539ae", "object": "Address",
        "created_at": "2024-01-19T21:42:57+00:00", "updated_at": "2024-01-19T21:42:57+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_b5aa371db71311eeb0a0ac1f6bc539ae
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f865aaece1e78ba304000d256a
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_d09c1819b72311ee84c0ac1f6bc53342
  response:
    body:
      string: '{"id": "adr_d09c1819b72311ee84c0ac1f6bc53342", "object": "Address",
        "created_at": "2024-01-19T23:38:14+00:00", "updated_at": "2024-01-19T23:38:14+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2":
        "FLOOR 5", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365ab07e6e799e542001d727c
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
