interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers?page_size=1
  response:
    body:
      string: '{"trackers": [{"id": "trk_783fdb3f049b43c9a1092ed41513055e", "object":
        "Tracker", "mode": "test", "tracking_code": "9405500207552010707832", "status":
        "pre_transit", "status_detail": "status_update", "created_at": "2024-01-19T21:42:16Z",
        "updated_at": "2024-01-19T21:42:16Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2024-01-19T21:42:16Z", "shipment_id": "shp_1b88cbe26946440d8d1afca25750e9ac",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2023-12-19T21:42:16Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2023-12-20T10:19:16Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "fees":
        [], "carrier_detail": {"object": "CarrierDetail", "service": "First-Class
        Package Service", "container_type": null, "est_delivery_date_local": null,
        "est_delivery_time_local": null, "origin_location": "HOUSTON TX, 77001", "origin_tracking_location":
        {"object": "TrackingLocation", "city": "HOUSTON", "state": "TX", "country":
        null, "zip": "77063"}, "destination_location": "CHARLESTON SC, 29401", "destination_tracking_location":
        null, "guaranteed_delivery_date": null, "alternate_identifier": null, "initial_delivery_attempt":
        null}, "public_url": "https://track.easypost.com/djE6dHJrXzc4M2ZkYjNmMDQ5YjQzYzlhMTA5MmVkNDE1MTMwNTVl"}],
        "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaecbbe78b9f8d000d10f1
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers/trk_783fdb3f049b43c9a1092ed41513055e
  response:
    body:
      string: '{"id": "trk_783fdb3f049b43c9a1092ed41513055e", "object": "Tracker",
        "mode": "test", "tracking_code": "9405500207552010707832", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2024-01-19T21:42:16Z", "updated_at":
        "2024-01-19T21:42:16Z",[...]
[...]
