interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "service": "Priority",
      "carrier": "USPS", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:40:13Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707528", "updated_at": "2024-01-19T21:40:14Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": {"id":
        "cstinfo_caa50bc3c9fb4661849e149db6db3554", "object": "CustomsInfo", "created_at":
        "2024-01-19T21:40:13Z", "updated_at": "2024-01-19T21:40:13Z", "contents_explanation":
        "", "contents_type": "merchandise", "customs_certify": true, "customs_signer":
        "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option": "return",
        "restriction_comments": null, "restriction_type": "none", "mode": "test",
        "declaration": null, "customs_items": [{"id": "cstitem_ac218dba6c77491db7d4d74416f069ff",
        "object": "CustomsItem", "created_at": "2024-01-19T21:40:13Z", "updated_at":
        "2024-01-19T21:40:13Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}, "from_address": {"id": "adr_54138ad5b71311ee8b813cecef1b359e",
        "object": "Address", "created_at": "2024-01-19T21:40:13+00:00", "updated_at":
        "2024-01-19T21:40:13+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": null, "parcel": {"id": "prcl_c60a6d52343542ddb2268611818acc61",
        "object": "Parcel", "created_at": "2024-01-19T21:40:13Z", "updated_at": "2024-01-19T21:40:13Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_db1ddecb14744c4ab5dc7ba418be31f8", "created_at": "2024-01-19T21:40:14Z",
        "updated_at": "2024-01-19T21:40:14Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T21:40:14Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e844b1851a27374ce5b29ef4c461d551a6.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_e874448c93154b4b84cd43e5a057352f", "object":
        "Rate", "created_at": "2024-01-19T21:40:13Z", "updated_at": "2024-01-19T21:40:13Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "46.85",
        "currency": "USD", "retail_rate": "54.20", "retail_currency": "USD", "list_rate":
        "46.85", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_282a50076e8e49ada236a20220538a4e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_f22a2925b2c44c8e9d476a39472bdc5a",
        "object": "Rate", "created_at": "2024-01-19T21:40:13Z", "updated_at": "2024-01-19T21:40:13Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery[...]
- request:
    body: '{"batch": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_254386e6b4314b419bcb0486ca65fc80", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 0, "reference": null,
        "created_at": "2024-01-19T21:40:15Z", "updated_at": "2024-01-19T21:40:15Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f865aaec3fe78b9b22000cbee6
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_282a50076e8e49ada236a20220538a4e"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_254386e6b4314b419bcb0486ca65fc80/add_shipments
  response:
    body:
      string: '{"id": "batch_254386e6b4314b419bcb0486ca65fc80", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2024-01-19T21:40:15Z", "updated_at": "2024-01-19T21:40:15Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9405500207552010707528", "id":
        "shp_282a50076e8e49ada236a20220538a4e"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f265aaec3fe78b9b23000cbf33
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_282a50076e8e49ada236a20220538a4e"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_254386e6b4314b419bcb0486ca65fc80/remove_shipments
  response:
    body:
      string: '{"id": "batch_254386e6b4314b419bcb0486ca65fc80", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 0, "reference": null,
        "created_at": "2024-01-19T21:40:15Z", "updated_at": "2024-01-19T21:40:15Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f465aaec3fe78b9b24000cbf62
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"shipments": [{"id": "shp_e20fea05ab874a48924903cceb4f4cc6"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_26630214d47949aa85ff5b49441d6915/remove_shipments
  response:
    body:
      string: '{"id": "batch_26630214d47949aa85ff5b49441d6915", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 0, "reference": null,
        "created_at": "2024-01-19T23:38:23Z", "updated_at": "2024-01-19T23:38:23Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f165ab07efe799e583001d7709
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
