interactions:
- request:
    body: '{"customs_item": {"description": "T-shirt", "quantity": "1", "weight":
      "5", "value": "10", "code": "123", "hs_tariff_number": "123456", "origin_country":
      "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_dc3bfcb1a9b248d9b460d670fde2ca6f", "object": "CustomsItem",
        "created_at": "2024-01-19T21:40:43Z", "updated_at": "2024-01-19T21:40:43Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_items/cstitem_dc3bfcb1a9b248d9b460d670fde2ca6f
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f465aaec5be78b9b68000cd0d7
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: '{"customs_item": {"description": "T-shirt", "quantity": "1", "weight":
      "5", "value": "10", "code": "123", "hs_tariff_number": "123456", "origin_country":
      "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_7b57200519da4fcbbdbfa84bab94777d", "object": "CustomsItem",
        "created_at": "2024-01-19T21:43:12Z", "updated_at": "2024-01-19T21:43:12Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_items/cstitem_7b57200519da4fcbbdbfa84bab94777d
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f365aaecf0e78ba38c000d2ead
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"customs_item": {"description": "T-shirt", "quantity": "1", "weight":
      "5", "value": "10", "code": "123", "hs_tariff_number": "123456", "origin_country":
      "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_b9c7656fdfe449cfb98e98f58f44ca39", "object": "CustomsItem",
        "created_at": "2024-01-19T22:06:29Z", "updated_at": "2024-01-19T22:06:29Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_items/cstitem_b9c7656fdfe449cfb98e98f58f44ca39
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f265aaf265e798d4dd0010e4a0
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
version: 1
