interactions:
- request:
    body: '{"tracker": {"tracking_code": "EZ1000000001", "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/trackers
  response:
    body:
      string: '{"id": "trk_acfcc5058c5445bda6c3c331125d52c9", "object": "Tracker",
        "mode": "test", "tracking_code": "EZ1000000001", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2023-11-30T20:36:36Z", "updated_at":
        "2023-12-01T05:14:45Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2023-12-01T05:14:45Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": "", "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2023-11-01T05:14:45Z", "source": "USPS", "carrier_code": "",
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": "", "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2023-11-01T17:51:45Z", "source": "USPS", "carrier_code":
        "", "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail": {"object":
        "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrX2FjZmNjNTA1OGM1NDQ1YmRhNmMzYzMzMTEyNWQ1MmM5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/trackers/trk_acfcc5058c5445bda6c3c331125d52c9
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaecbbe78b9f8c000d10b7
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
