interactions:
- request:
    body: '{"address": {"name": "FOO BAR", "company": "BAZ", "null": null, "street1":
      "164 TOWNSEND STREET UNIT 1", "street2": "UNIT 1", "city": "SAN FRANCISCO",
      "state": "CA", "zip": "94107", "country": "US", "phone": "555 555-5555", "email":
      "FOO@EXAMPLE.COM"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_c1c717f7dbff4a188c92dfab2dcb67ad", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T21:40:47+00:00", "updated_at": "2024-01-19T21:40:47+00:00",
        "name": "FOO BAR", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555 555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f865aaec5fe78b9b88000cd2f9
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:40:47Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2024-01-19T21:40:48Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": {"id": "cstinfo_f5ae2b124dfa422bbce11d7dd7766749",
        "object": "CustomsInfo", "created_at": "2024-01-19T21:40:47Z", "updated_at":
        "2024-01-19T21:40:47Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_e38f63f10ba845b2affb9b83f6bd5fae", "object": "CustomsItem",
        "created_at": "2024-01-19T21:40:47Z", "updated_at": "2024-01-19T21:40:47Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_6857ed0cb71311ee92ba3cecef1b359e", "object":
        "Address", "created_at": "2024-01-19T21:40:47+00:00", "updated_at": "2024-01-19T21:40:47+00:00",
        "name": "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_37698469493d42fc9414475e42e06cf4", "object": "Parcel", "created_at":
        "2024-01-19T21:40:47Z", "updated_at": "2024-01-19T21:40:47Z", "length": 20.2,
        "width": 10.9, "height": 5.0, "predefined_package": null, "weight": 65.9,
        "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_5257dd59081340f9b832d5e6109d5784",
        "object": "Rate", "created_at": "2024-01-19T21:40:48Z", "updated_at": "2024-01-19T21:40:48Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_dcf8c9e3a01d4e08b25b5f88f39b0b1a", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_e14159fbc6684d88bbba290cebd97bdb",
        "object": "Rate", "created_at": "2024-01-19T21:40:48Z", "updated_at": "2024-01-19T21:40:48Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.79",
        "currency": "USD", "retail_rate": "12.45", "retail_currency": "USD", "list_rate":
        "8.92", "list_currency": "USD", "billing_type": "eas[...]
- request:
    body: '{"rate": {"id": "rate_e14159fbc6684d88bbba290cebd97bdb"}, "end_shipper_id":
      "es_c1c717f7dbff4a188c92dfab2dcb67ad"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_dcf8c9e3a01d4e08b25b5f88f39b0b1a/buy
  response:
    body:
      string: '{"created_at": "2024-01-19T21:40:47Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthor[...]
[...]
- request:
    body: '{"address": {"name": "FOO BAR", "company": "BAZ", "null": null, "street1":
      "164 TOWNSEND STREET UNIT 1", "street2": "UNIT 1", "city": "SAN FRANCISCO",
      "state": "CA", "zip": "94107", "country": "US", "phone": "555 555-5555", "email":
      "FOO@EXAMPLE.COM"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_2afeae8e7c5440d1b44df4dfd19a82c0", "object": "EndShipper",
        "mode": "test", "created_at": "2024-01-19T22:05:00+00:00", "updated_at": "2024-01-19T22:05:00+00:00",
        "name": "FOO BAR", "company": "BAZ", "street1": "164 TOWNSEND ST UNIT 1",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1990",
        "country": "US", "phone": "555 555-5555", "email": "FOO@EXAMPLE.COM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f465aaf20ce798cd440010a785
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
