interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "New Name", "phone_number": "5555555555", "verified": true,
        "created_at": "2017-03-01T03:01:34Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        "100.00", "secondary_recharge_amount": "100.00", "recharge_threshold": "0.00",
        "has_billing_method": false, "cc_fee_rate": "0.03", "default_insurance_amount":
        null, "insurance_fee_rate": "0.01", "insurance_fee_minimum": "1.00", "email":
        "dev+easypost-python@easypost.com", "children": [{"id": "user_584be78af2f141e988b6c60dda9dd8fd",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Test User2", "phone_number": "8005550100", "verified": true, "created_at":
        "2023-12-11T17:13:38Z", "default_carbon_offset": false, "has_elevate_access":
        false, "children": []}, {"id": "user_437e724f37de412db6df8821968d8d3c", "object":
        "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test
        User2", "phone_number": "8005550100", "verified": true, "created_at": "2023-12-11T17:13:43Z",
        "default_carbon_offset": false, "has_elevate_access": false, "children": []},
        {"id": "user_2553102e90de43dea0b9fa7f8c8d7e33", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Child Account Name22", "phone_number":
        "8005550100", "verified": true, "created_at": "2024-01-04T19:56:21Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": []}, {"id": "user_31754439d4524fbb8867d138de537e12",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Test User", "phone_number": "8005550100", "verified": true, "created_at":
        "2024-01-19T21:42:21Z", "default_carbon_offset": false, "has_elevate_access":
        false, "children": []}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f465aaecbee78b9fa9000d1258
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"user": {"phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/users/user_54356a6b96c940d8913961a3c7b909f2
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "New Name", "phone_number": "5555555555", "verified": true,
        "created_at": "2017-03-01T03:01:34Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", [...]
[...]
