interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:42:17Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2024-01-19T21:42:18Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": {"id": "cstinfo_22231313148f4501b7d7f878162cdbf9",
        "object": "CustomsInfo", "created_at": "2024-01-19T21:42:17Z", "updated_at":
        "2024-01-19T21:42:17Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_02f0a325756e4e0bbebe6fa858c6b378", "object": "CustomsItem",
        "created_at": "2024-01-19T21:42:17Z", "updated_at": "2024-01-19T21:42:17Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_9dcd570db71311eeb691ac1f6bc539aa", "object":
        "Address", "created_at": "2024-01-19T21:42:17+00:00", "updated_at": "2024-01-19T21:42:17+00:00",
        "name": "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_71c48387a2e54f6790938f4b5f6e7c37", "object": "Parcel", "created_at":
        "2024-01-19T21:42:17Z", "updated_at": "2024-01-19T21:42:17Z", "length": 20.2,
        "width": 10.9, "height": 5.0, "predefined_package": null, "weight": 65.9,
        "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_5371259d8e484ef8bf71c85eaea98bec",
        "object": "Rate", "created_at": "2024-01-19T21:42:18Z", "updated_at": "2024-01-19T21:42:18Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_68c599ffe1b7430d87bfd6bf98fcf6f8", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_579e4bbb662d4a99b402fdfa337e7ccd",
        "object": "Rate", "created_at": "2024-01-19T21:42:18Z", "updated_at": "2024-01-19T21:42:18Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.79",
        "currency": "USD", "retail_rate": "12.45", "retail_currency": "USD", "list_rate":
        "8.92", "list_currency": "USD", "billing_type": "eas[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_1195708df8ad46aa8452b75e4af3ca89/smartrate
  response:
    body:
      string: '{"result": [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2024-01-19T21:48:07Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": 2, "est_delivery_days":
        2, "id": "rate_7606459365bb4005a66c5340aa6d7cae", "list_currency": "USD",
        "list_rate": 10.27, "mode": "test", "object": "Rate", "rate": 7.99, "retail_currency":
        "USD", "retail_rate": 14.05, "service": "Priority", "shipment_id": "shp_1195708df8ad46aa8452b75e4af3ca89",
        "time_in_transit": {"percentile_50": 2, "percentile_75": 2, "percentile_85":
        3, "percentile_90": 3, "percentile_95": 4, "percentile_97": 4, "percentile_99":
        6}, "updated_at": "2024-01-19T21:48:07Z"}, {"carrier": "USPS", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at": "2024-01-19T21:48:07Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": 3, "est_delivery_days": 3, "id": "rate_4a785314cfd54f3ea045c0e78c7799d9",
        "list_currency": "USD", "list_rate": 8.92, "mode": "test", "object": "Rate",
        "rate": 6.79, "retail_currency": "USD", "ret[...]
[...]
