interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "customs_info": {"customs_certify":
      "true", "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "eel_pfc": "NOEEI 30.37(a)", "customs_items":
      [{"description": "T-shirt", "quantity": "1", "weight": "5", "value": "10", "code":
      "123", "hs_tariff_number": "123456", "origin_country": "US"}]}, "service": "Priority",
      "carrier": "USPS", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-01-19T21:41:58Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500207552010707764", "updated_at": "2024-01-19T21:41:59Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": {"id":
        "cstinfo_142073111a41446b9f55fe177ab222b8", "object": "CustomsInfo", "created_at":
        "2024-01-19T21:41:58Z", "updated_at": "2024-01-19T21:41:58Z", "contents_explanation":
        "", "contents_type": "merchandise", "customs_certify": true, "customs_signer":
        "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option": "return",
        "restriction_comments": null, "restriction_type": "none", "mode": "test",
        "declaration": null, "customs_items": [{"id": "cstitem_ad423f26fe384eefa71430ee43a30631",
        "object": "CustomsItem", "created_at": "2024-01-19T21:41:58Z", "updated_at":
        "2024-01-19T21:41:58Z", "description": "T-shirt", "hs_tariff_number": "123456",
        "origin_country": "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code":
        "123", "mode": "test", "manufacturer": null, "currency": null, "eccn": null,
        "printed_commodity_identifier": null}]}, "from_address": {"id": "adr_9284d509b71311eea334ac1f6bc53342",
        "object": "Address", "created_at": "2024-01-19T21:41:58+00:00", "updated_at":
        "2024-01-19T21:41:58+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "insurance": null, "order_id": null, "parcel": {"id": "prcl_8ff20970f782487d938faa1e0deee0e2",
        "object": "Parcel", "created_at": "2024-01-19T21:41:58Z", "updated_at": "2024-01-19T21:41:58Z",
        "length": 20.2, "width": 10.9, "height": 5.0, "predefined_package": null,
        "weight": 65.9, "mode": "test"}, "postage_label": {"object": "PostageLabel",
        "id": "pl_4ea183c1d27a4e598d84b24e75324549", "created_at": "2024-01-19T21:41:59Z",
        "updated_at": "2024-01-19T21:41:59Z", "date_advance": 0, "integrated_form":
        "none", "label_date": "2024-01-19T21:41:59Z", "label_resolution": 300, "label_size":
        "4x6", "label_type": "default", "label_file_type": "image/png", "label_url":
        "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240119/e87ca48e702e8947a5a5395d51c98b146a.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_111f0202fdc44a4694db730d261db3ec", "object":
        "Rate", "created_at": "2024-01-19T21:41:58Z", "updated_at": "2024-01-19T21:41:58Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.99",
        "currency": "USD", "retail_rate": "14.05", "retail_currency": "USD", "list_rate":
        "10.27", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_b030f8d128e24002a205b6b78dc58fc3", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_b4959c42ffba462f85ad63ea82a6ad1e",
        "object": "Rate", "created_at": "2024-01-19T21:41:58Z", "updated_at": "2024-01-19T21:41:58Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.79",
        "currency": "USD", "retail_rate": "12.45", "retail_currency": "USD", "list_rate":
        "8.92", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "de[...]
- request:
    body: '{"scan_form": {"shipment": [{"id": "shp_b030f8d128e24002a205b6b78dc58fc3"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id": "sf_528ce3f9e7514f3e913981b96b31f43f", "object": "ScanForm",
        "created_at": "2024-01-19T21:41:59Z", "updated_at": "2024-01-19T21:42:00Z",
        "tracking_codes": ["9405500207552010707764"], "address": {"id": "adr_9284d509b71311eea334ac1f6bc53342",
        "object": "Address", "created_at": "2024-01-19T21:41:58+00:00", "updated_at":
        "2024-01-19T21:41:58+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "status": "created", "message": null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240119/e854ab77cf96b1465ebf32276ca4fc78d1.pdf",
        "form_file_type": null, "batch_id": "batch_ebb3185b929f4500afa690677d49ff33",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f565aaeca7e78b9f47000d05dd
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
