interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=1
  response:
    body:
      string: '{"batches": [{"id": "batch_fa8d621742eb48819dfb260f5c289a43", "object":
        "Batch", "mode": "test", "state": "creation_failed", "num_shipments": 1, "reference":
        null, "created_at": "2024-01-19T19:40:28Z", "updated_at": "2024-01-19T19:40:29Z",
        "scan_form": null, "shipments": [{"batch_status": "creation_failed", "batch_message":
        "None of the carrier_account_ids provided are valid and enabled", "reference":
        null, "tracking_code": null, "id": "shp_bd99e54621e242cab6c1979d2b60cd86"}],
        "status": {"created": 0, "queued_for_purchase": 0, "creation_failed": 1, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaec1be78b9ae6000ca94c
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=1
  response:
    body:
      string: '{"batches": [{"id": "batch_fa8d621742eb48819dfb260f5c289a43", "object":
        "Batch", "mode": "test", "state": "creation_failed", "num_shipments": 1, "reference":
        null, "created_at": "2024-01-19T19:40:28Z", "updated_at": "2024-01-19T19:40:29Z",
        "scan_form": null, "shipments": [{"batch_status": "creation_failed", "batch_message":
        "None of the carrier_account_ids provided are valid and enabled", "reference":
        null, "tracking_code": null, "id": "shp_bd99e54621e242cab6c1979d2b60cd86"}],
        "status": {"created": 0, "queued_for_purchase": 0, "creation_failed": 1, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f565aaf192e798cc1a001051ec
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=1
  response:
    body:
      string: '{"batches": [{"id": "batch_fa8d621742eb48819dfb260f5c289a43", "object":
        "Batch", "mode": "test", "state": "creation_failed", "num_shipments": 1, "reference":
        null, "created_at": "2024-01-19T19:40:28Z", "updated_at": "2024-01-19T19:40:29Z",
        "scan_form": null, "shipments": [{"batch_status": "creation_failed", "batch_message":
        "None of the carrier_account_ids provided are valid and enabled", "reference":
        null, "tracking_code": null, "id": "shp_bd99e54621e242cab6c1979d2b60cd86"}],
        "status": {"created": 0, "queued_for_purchase": 0, "creation_failed": 1, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765ab07e9e799e560001d73e9
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
