interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_31754439d4524fbb8867d138de537e12", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "8005550100", "verified": true, "created_at": "2024-01-19T21:42:21Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": [], "api_keys": [{"object":
        "ApiKey", "key": "<REDACTED>", "mode": "test", "created_at": "2024-01-19T21:42:21Z",
        "active": true, "id": "ak_dffa08301f7d4a54895f7840d54d05e0"}, {"object": "ApiKey",
        "key": "<REDACTED>", "mode": "production", "created_at": "2024-01-19T21:42:21Z",
        "active": true, "id": "ak_d386ae3ceee04b0880002cd39dca2587"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaecbde78b9fa7000d11a0
      x-node:
      - bigweb31nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_72074c8f709a4c199c452fc45eee9c41
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f627fdac65aaee1ce78bb06800114e6a
      x-node:
      - bigweb31nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_17374a40340d48d2af5cbe9c03449717
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaf16ee798c89f001034ac
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 204
      message: No Content
version: 1
