interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "description": "CA Location
      DHL eCommerce Solutions Account", "credentials": {"client_id": "123456", "client_secret":
      "123abc", "distribution_center": "USLAX1", "pickup_id": "123456"}, "test_credentials":
      {"client_id": "123456", "client_secret": "123abc", "distribution_center": "USLAX1",
      "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_78190d5654d14619957d00ba081d2bc9", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2024-01-19T21:40:42Z",
        "updated_at": "2024-01-19T21:40:42Z", "description": "CA Location DHL eCommerce
        Solutions Account", "reference": null, "billing_type": "carrier", "readable":
        "DHL eCommerce Solutions", "logo": null, "fields": {"credentials": {"client_id":
        {"visibility": "visible", "label": "DHL eCommerce Solutions client ID", "value":
        "123456"}, "client_secret": {"visibility": "password", "label": "DHL eCommerce
        Solutions client secret", "value": "********"}, "pickup_id": {"visibility":
        "visible", "label": "DHL eCommerce Solutions pickup ID", "value": "123456"},
        "distribution_center": {"visibility": "visible", "label": "DHL eCommerce Solutions
        distribution center", "value": "USLAX1"}}, "test_credentials": {"client_id":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions client ID",
        "value": "123456"}, "client_secret": {"visibility": "password", "label": "Test
        DHL eCommerce Solutions client secret", "value": "********"}, "pickup_id":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions pickup ID",
        "value": "123456"}, "distribution_center": {"visibility": "visible", "label":
        "Test DHL eCommerce Solutions distribution center", "value": "USLAX1"}}},
        "credentials": {"client_id": "123456", "client_secret": "********", "pickup_id":
        "123456", "distribution_center": "USLAX1"}, "test_credentials": {"client_id":
        "123456", "client_secret": "********", "pickup_id": "123456", "distribution_center":
        "USLAX1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f865aaec5ae78b9b4b000ccfce
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_78190d5654d14619957d00ba081d2bc9
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f165aaec5ae78b9b4c000cd009
      x-node:
      - bigweb31nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_2a9a4e70ecae4a12a0f4249a9b3cc860
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f165aaf262e798d4c10010e32e
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
