interactions:
- request:
    body: '{"customs_item": {"description": "T-shirt", "quantity": "1", "weight":
      "5", "value": "10", "code": "123", "hs_tariff_number": "123456", "origin_country":
      "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_beb82d4ae2a745bbbc769caf1d234a34", "object": "CustomsItem",
        "created_at": "2024-01-19T21:40:44Z", "updated_at": "2024-01-19T21:40:44Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_items/cstitem_beb82d4ae2a745bbbc769caf1d234a34
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f465aaec5ce78b9b69000cd105
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_items/cstitem_beb82d4ae2a745bbbc769caf1d234a34
  response:
    body:
      string: '{"id": "cstitem_beb82d4ae2a745bbbc769caf1d234a34", "object": "CustomsItem",
        "created_at": "2024-01-19T21:40:44Z", "updated_at": "2024-01-19T21:40:44Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaec5ce78b9b6a000cd142
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_items/cstitem_4345c993055640b68d246dc2b04d8b9f
  response:
    body:
      string: '{"id": "cstitem_4345c993055640b68d246dc2b04d8b9f", "object": "CustomsItem",
        "created_at": "2024-01-19T22:06:29Z", "updated_at": "2024-01-19T22:06:29Z",
        "description": "T-shirt", "hs_tariff_number": "123456", "origin_country":
        "US", "quantity": 1, "value": "10.0", "weight": 5.0, "code": "123", "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f365aaf265e798d4df0010e4f7
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
