interactions:
- request:
    body: '{"start_date": "2022-10-01", "end_date": "2022-10-01"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_b849ea9c3a0d4f248255f0dca4f28040", "object": "ShipmentReport",
        "created_at": "2024-01-19T21:41:56Z", "updated_at": "2024-01-19T21:41:56Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaeca4e78b9f2a000d03ef
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_b849ea9c3a0d4f248255f0dca4f28040
  response:
    body:
      string: '{"id": "shprep_b849ea9c3a0d4f248255f0dca4f28040", "object": "ShipmentReport",
        "created_at": "2024-01-19T21:41:56Z", "updated_at": "2024-01-19T21:41:56Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f265aaeca5e78b9f42000d0416
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401191855-c1565c253c-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_089003c0042c4807bef27a56e219f651
  response:
    body:
      string: '{"id": "shprep_089003c0042c4807bef27a56e219f651", "object": "ShipmentReport",
        "created_at": "2024-01-19T21:47:45Z", "updated_at": "2024-01-19T21:47:45Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f627fda765aaee01e78bb00400113eec
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_2a996421686a46ad9dce115eed3edc28
  response:
    body:
      string: '{"id": "shprep_2a996421686a46ad9dce115eed3edc28", "object": "ShipmentReport",
        "created_at": "2024-01-19T22:05:41Z", "updated_at": "2024-01-19T22:05:41Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f765aaf236e798d0fd0010c54d
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
