interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?page_size=1
  response:
    body:
      string: '{"reports": [{"id": "shprep_b849ea9c3a0d4f248255f0dca4f28040", "object":
        "ShipmentReport", "created_at": "2024-01-19T21:41:56Z", "updated_at": "2024-01-19T21:41:57Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false}],
        "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f665aaeca5e78b9f43000d043d
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?page_size=1
  response:
    body:
      string: '{"reports": [{"id": "shprep_7fe6a33016a849999785f97043857fb4", "object":
        "ShipmentReport", "created_at": "2024-01-19T22:01:54Z", "updated_at": "2024-01-19T22:01:54Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false}],
        "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 479b01f665aaf152e798c83a00101e54
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?page_size=1
  response:
    body:
      string: '{"reports": [{"id": "shprep_2a996421686a46ad9dce115eed3edc28", "object":
        "ShipmentReport", "created_at": "2024-01-19T22:05:41Z", "updated_at": "2024-01-19T22:05:41Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false}],
        "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f565aaf236e798d0fe0010c58f
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb2nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
version: 1
