interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms?page_size=1
  response:
    body:
      string: '{"scan_forms": [{"id": "sf_7da5cfcbb18448a1b8557d6f46dcfd63", "object":
        "ScanForm", "created_at": "2024-01-19T21:42:01Z", "updated_at": "2024-01-19T21:42:02Z",
        "tracking_codes": ["9405500207552010707771"], "address": {"id": "adr_939e948eb71311eeb35fac1f6bc539aa",
        "object": "Address", "created_at": "2024-01-19T21:42:00+00:00", "updated_at":
        "2024-01-19T21:42:00+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "status": "created", "message": null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240119/e88e3aaa0500a342a6ba20d2fe6c3cd189.pdf",
        "form_file_type": null, "batch_id": "batch_20ed0a5f5e4f4e5c8cf2b4f966ceb924",
        "confirmation": null}], "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 479b01f565aaecaae78b9f63000d0754
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb1nuq 1a7e326d32
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401192104-eb5201a879-master
    status:
      code: 200
      message: OK
[...]
