.golangci.yml
.mypy_cache
.nyc_output
.pytest_cache
.ruff_cache
.tmp
/docs
cassettes
composer.json
composer.lock
coverage
dist/
examples
official/fixtures/
package-lock.json
style_guides/
vendor/
venv/
