.golangci.yml
.mypy_cache
.nyc_output
.pytest_cache
.ruff_cache
.tmp
cassettes
composer.json
composer.lock
coverage
dist/
examples
official/docs/csharp
official/docs/golang
official/docs/java
official/docs/php
official/docs/python
official/docs/responses
official/docs/ruby
official/fixtures/
package-lock.json
style_guides/
vendor/
venv/
